Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Translate to Vietnamese (#1591)
  scripts/ignore_translation.toml
  src/main/resources/messages_vi_VN.properties
  src/main/resources/static/images/flags/vn.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

:memo: Sync README > Made via sync_files.yml
  scripts/ignore_translation.toml
Due: none

Update messages_zh_TW.properties: Translate English sentence to Traditional Chinese (#1596)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Add: Vietnam to the table
  README.md
  scripts/ignore_translation.toml
Due: none

Update labeler-config.yml
  .github/labeler-config.yml
Due: none

Add: Vietnam to the table (#1600)
  .github/labeler-config.yml
  README.md
  scripts/ignore_translation.toml
Due: none

Update messages_zh_CN.properties (#1599)
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

docs(i18n): Update zh_CN and zh_TW properties ，added field ： AddStampRequest.firstPageRate、 watermark.type.3
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Enhance auto-rename functionality with additional options
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractHeaderRequest.java
  src/main/resources/templates/misc/auto-rename.html
Due: check-html-tabs

Update languages.html
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Danish flag svg
  src/main/resources/static/images/flags/dk.svg
Due: none

Create messages_da_DK.properties
  src/main/resources/messages_da_DK.properties
Due: check-duplicate-properties-keys

Update messages_da_DK.properties
  src/main/resources/messages_da_DK.properties
Due: check-duplicate-properties-keys

Adding Irish Language
  scripts/ignore_translation.toml
  src/main/resources/messages_ga_IE.properties
  src/main/resources/static/images/flags/ie.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Refactored Identifiers
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
Due: none

Optimize Editor and Git Ignore Settings for Improved Consistency and Security
  .github/labels.yml
  .gitignore
  .vscode/settings.json
Due: none

Optimize Editor and Git Ignore Settings for Improved Consistency and Security (#1611)
  .github/labels.yml
  .gitignore
  .vscode/settings.json
Due: none

Added Irish Language (#1607)
  scripts/ignore_translation.toml
  src/main/resources/messages_ga_IE.properties
  src/main/resources/static/images/flags/ie.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Refactored Identifiers (#1609)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
Due: none

Danish language (#1606)
  src/main/resources/messages_da_DK.properties
  src/main/resources/static/images/flags/dk.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

separated blank and non-blank pages and created unified ZIP archive
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
Due: none

Add: Irish and Danish to the table
  README.md
Due: none

Add: Irish and Danish to the table (#1622)
  README.md
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update SPdfApplication.java
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

Update test.yml (#1623)
  .github/workflows/test.yml
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none
