Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

French translations for multiTool
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix french translation invalidPasswordMessage/confirmPasswordErrorMessage
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

french translation : reset/navbar.search/sign.saved
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix my invalidPasswordMessage french translation :)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update Arabic Language for Multi tool section
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

French translation (again) (#2315)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

improves readability (#2313)
  .github/scripts/check_language_properties.py
Due: none

Add a back line at 955-956
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Update Arabic Language for Multi tool section (#2316)
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Exclude gson and bcprov-jdk15on dependencies from tabula
  build.gradle
Due: none

Extract tables from PDF to CSV using Tabula (#2312)
  build.gradle
  src/main/java/stirling/software/SPDF/controller/api/converters/ExtractCSVController.java
  src/main/java/stirling/software/SPDF/controller/api/strippers/PDFTableStripper.java
  src/main/java/stirling/software/SPDF/pdf/FlexibleCSVWriter.java
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Fix: id for submit button added
  src/main/resources/templates/convert/pdf-to-csv.html
Due: check-html-tabs

Fix: id for submit button added (#2320)
  src/main/resources/templates/convert/pdf-to-csv.html
Due: check-html-tabs

Translation for #multiTool
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Bump com.h2database:h2 from 2.1.214 to 2.3.232 (#2314)
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/resources/application.properties
  src/main/resources/templates/database.html
Due: check-duplicate-properties-keys, check-html-tabs

metrics
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
Due: none

adding a generic OIDC logout URL
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

Add tooltip to sign add to all pages feature
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/css/multi-tool.css
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Add tooltip to sign add to all pages feature (#2325)
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/css/multi-tool.css
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Additional Tooltips
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Additional sign tooltips (#2328)
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

navbar fix multi tool and compress location
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

navbar fix multi tool and compress location (#2331)
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update messages_it_IT.properties (#2334)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys
