Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Add comments to PdfImageRemovalController and PdfImageRemovalService.
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

feat: testing
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Due: none

Change the google material icon in navbar, homepage and remove-image-pdf.html.
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/remove-image-pdf.html
Due: check-html-tabs

Issue1632 remove images (#1645)
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/static/css/removeImage.css
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/remove-image-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Update Dockerfile
  Dockerfile
Due: none

Update Dockerfile-fat
  Dockerfile-fat
Due: none

Update Dockerfile-ultra-lite
  Dockerfile-ultra-lite
Due: none

test: Update URL in ConvertWebsiteToPdfTest for testing
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Due: none

formatting
  Dockerfile
  Dockerfile-fat
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

langs
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update build.gradle
  build.gradle
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Bug fix UI crash when url is unrechable (#1642)
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPDF.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

test
  Dockerfile-fat
  scripts/init-without-ocr.sh
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

test
  exampleYmlFiles/docker-compose-latest.yml
Due: none

Update messages_it_IT.properties (#1649)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Updated Japanese translation (#1654)
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Update remove-pages.html
  src/main/resources/templates/remove-pages.html
Due: check-html-tabs

Prevents SSO login due to faulty verification
  README.md
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/LoginAttemptService.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/session/CustomHttpSessionListener.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionPersistentRegistry.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionRegistryConfig.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionRepository.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionScheduled.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/provider/GoogleProvider.java
Due: none

add translation & fix show error message
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/login.html
Due: check-duplicate-properties-keys, check-html-tabs

Update settings.yml.template
  src/main/resources/settings.yml.template
Due: none

Homepage and started styling
  client-tauri/src/App.tsx
  client-tauri/src/assets/favicon.svg
  client-tauri/src/components/NavBar.css
  client-tauri/src/components/NavBar.module.css
  client-tauri/src/components/NavBar.tsx
  client-tauri/src/general.css
  client-tauri/src/index.css
  client-tauri/src/main.tsx
  client-tauri/src/pages/About.tsx
  client-tauri/src/pages/Dashboard.tsx
  client-tauri/src/pages/Dynamic.tsx
  client-tauri/src/pages/Home.tsx
  client-tauri/src/pages/home.module.css
  client-tauri/src/root.css
  shared-operations/src/functions/index.ts
Due: check-html-tabs

Update messages_it_IT.properties - remove image in home
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

refactor: Incorporate the 'PagingSeal' type into the 'Image' type, and add a checkbox to control the automatic cropping feature.
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/stamp.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix: Conditional Attribute Binding for the multiple Attribute in the File Selector Fragment
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs
