Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

feat: add umami
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update messages_it_IT.properties (#1062)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Changes!
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  src/main/java/stirling/software/SPDF/controller/api/security/SanitizeController.java
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/static/js/settings.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Fix: Username changing
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

Update UserController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
Due: none

Fix: Resolve Username Case Sensitivity Issue in Login Flow (#1070)
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

UI: settings show/hide update display
  README.md
  src/main/java/stirling/software/SPDF/config/security/AppUpdateShowService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/main/resources/static/css/home.css
  src/main/resources/static/images/update.svg
  src/main/resources/static/js/githubVersion.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

change to `Bean`
  src/main/java/stirling/software/SPDF/config/AppUpdateShowService.java
  src/main/java/stirling/software/SPDF/config/security/AppUpdateShowService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Update AppUpdateShowService.java
  src/main/java/stirling/software/SPDF/config/AppUpdateShowService.java
Due: none

Update messages_de_DE.properties (#1069)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

lang
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Cache form inputs between runs (#1066)
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  src/main/java/stirling/software/SPDF/controller/api/security/SanitizeController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/static/js/settings.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_tr_TR.properties
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Update messages_tr_TR.properties (#1092)
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

add update message
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

revision service
  src/main/java/stirling/software/SPDF/config/AppUpdateAuthService.java
  src/main/java/stirling/software/SPDF/config/AppUpdateService.java
  src/main/java/stirling/software/SPDF/repository/ShowAdminInterface.java
Due: none

change shouldShow
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Update githubVersion.js
  src/main/resources/static/js/githubVersion.js
Due: check-html-tabs

Create PdfToPdfARequest.java
  src/main/java/stirling/software/SPDF/model/api/converters/PdfToPdfARequest.java
Due: none

Change class, add output format
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
Due: none

Add input field for output format
  src/main/resources/templates/convert/pdf-to-pdfa.html
Due: check-html-tabs

rm folder
  src/main/java/stirling/software/SPDF/config/AppUpdateService.java
  src/main/java/stirling/software/SPDF/config/ShowAdminInterface.java
  src/main/java/stirling/software/SPDF/config/security/AppUpdateAuthService.java
Due: none

Change output format selection order
  src/main/resources/templates/convert/pdf-to-pdfa.html
Due: check-html-tabs

Add selection for PDF/A output format (#1095)
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/model/api/converters/PdfToPdfARequest.java
  src/main/resources/templates/convert/pdf-to-pdfa.html
Due: check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1096)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update AppUpdateService.java
  src/main/java/stirling/software/SPDF/config/AppUpdateService.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
