Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

config stuff
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

change configs
  README.md
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

quick cache fix
  build.gradle
  src/main/resources/static/images/file-earmark-pdf.svg
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/login.html
  src/main/resources/templates/sign.html
  src/main/resources/templates/split-pdf-by-sections.html
Due: check-html-tabs

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Update messages_tr_TR.properties
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Update merge-pdfs.html
  src/main/resources/templates/merge-pdfs.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

jobs. folder-job, file-change-trigger and some cleanup
  .gitignore
  package-lock.json
  server-node/package.json
  server-node/src/index.ts
  server-node/src/jobs.ts
  server-node/src/routes/api/workflow-controller.ts
  server-node/src/utils/endpoint-utils.ts
  server-node/src/utils/libre-office-utils.ts
  server-node/vite.config.ts
  shared-operations/src/functions/common/detectQRCodePages.ts
  shared-operations/src/functions/common/getImagesOnPage.ts
Due: none

🐛 FIX: Update French Traduction
  README.md
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update home.html
  src/main/resources/templates/home.html
Due: check-html-tabs

config fix and book icons
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/resources/templates/home.html
Due: check-html-tabs

fix tool removal in navbar
  src/main/resources/static/js/languageSelection.js
Due: check-html-tabs

bump
  build.gradle
  chart/stirling-pdf/Chart.yaml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
