Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update test.yml (#1623)
  .github/workflows/test.yml
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

blank pages returns removed pages for verification #1574 (#1619)
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
Due: none

Update examples.feature
  cucumber/features/examples.feature
Due: none

Update examples.feature (#1624)
  cucumber/features/examples.feature
Due: none

Fix: fail JUnit test
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/utils/FileToPdfTest.java
Due: none

Bump org.springframework.boot from 3.3.0 to 3.3.2 & Gradle 8 compatibility
  .github/labeler-config.yml
  build.gradle
Due: none

Fix: fail JUnit test (#1625)
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/utils/FileToPdfTest.java
Due: none

Bump org.springframework.boot from 3.3.0 to 3.3.2 & Gradle 8 compatibility (#1626)
  .github/labeler-config.yml
  build.gradle
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update polish translation
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Update polish translation (#1631)
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Add a checkbox to WatermarkController to convert the pdf to pdf-image
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/add-watermark.html
Due: check-duplicate-properties-keys, check-html-tabs

381: Fix messages_en_GB
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Add a checkbox to WatermarkController to convert the pdf to pdf-image (#1633)
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/add-watermark.html
Due: check-duplicate-properties-keys, check-html-tabs

lang
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

enhancement auto have label
  .github/ISSUE_TEMPLATE/2-feature.yml
Due: none

Changes norwegian translation
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

Changes norwegian translation (#1639)
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

Added multithreaded feature for image extraction
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Implemented PdfImageRemovalService.java and PdfImageRemovalController.java. Image can be removed testing using Postman, but the file size doesn't change.
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

Fix removal logic in service file to decrease file size.
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

Implement "Remove Image" feature on the website
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/static/css/removeImage.css
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/remove-image-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Added multithreaded feature for image extraction (#1641)
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

feat: Add URL reachability check in ConvertWebsiteToPDF
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPDF.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Add tests for URL reachability in ConvertWebsiteToPdfTest
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Due: none

feat: Update URL in ConvertWebsiteToPdfTest for testing
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Due: none
