Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix missing info in form data
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/pages/adjust-contrast.js
  src/main/resources/templates/convert/img-to-pdf.html
Due: check-html-tabs

Add default to convert image to pdf api
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

Correct default fit
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

Don't remove files from file input, just append
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Remove append entirely
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Exclude Sensitive and Error-Prone Fields from toString() in SAML2 Configuration
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

mounted_config_dir
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/security/PasswordController.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Rotate the image not the container
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

some tools lack PDFLib
  src/main/resources/templates/convert/pdf-to-csv.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/extract-images.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/misc/replace-color.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/overlay-pdf.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Bring back nav bar
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Disable scroll Y by hiding overflow Y
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Update viewer height to avoid overflow
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: check-html-tabs

Add button for pdf to image conversion
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Update releaseArtifacts.yml
  .github/workflows/releaseArtifacts.yml
Due: none

Tweaks
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Draw image with the original PDF page dimensions
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Stack convert section, don't remove. Move remove into own js
  src/main/resources/static/js/languageSelection.js
  src/main/resources/static/js/navbar.js
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Remove padding
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Adjust toolbar's z-index to uncover navbar
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: check-html-tabs

Conditional logic for stacking columns
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/navbar.js
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Resize parent to fit rotating child
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
