Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Translate "Remove image" to French
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Translate "Split PDF by Chapters" to French
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fr translation : Popular => Populaire
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

french translation for adminUserSettings.* messages
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

french translation for session.expired
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

French translation improvements (#2061)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

use transform instead of change
  testdriver/test.yml
Due: none

disable workflows
  .github/workflows/build.yml
  .github/workflows/push-docker.yml
Due: none

updates expect commands as well
  testdriver/test.yml
Due: none

try "highlighted"
  testdriver/test.yml
Due: none

update versions
  .github/workflows/testdriver.yml
  testdriver/test.yml
Due: none

Fixes for analyticsPrompt
  build.gradle
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/SettingsController.java
  src/main/resources/templates/home.html
Due: check-html-tabs

Remove unused horizontalScroll.js
  src/main/resources/static/js/multitool/horizontalScroll.js
Due: check-html-tabs

Removed horizontal scroll logic from multi-tool template (#2065)
  src/main/resources/static/js/multitool/horizontalScroll.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

update workflow files
  .github/workflows/build.yml
  .github/workflows/push-docker.yml
  testdriver/test.yml
Due: none

Remove pro badge if enabled
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

add some wait time
  testdriver/test.yml
Due: none

Fix metricCollection
  src/main/java/stirling/software/SPDF/service/PostHogService.java
Due: none

Update PostHogService.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

apply fix
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/templates/change-creds.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/remove-image-pdf.html
  src/main/resources/templates/security/add-password.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/security/auto-redact.html
  src/main/resources/templates/security/cert-sign.html
  src/main/resources/templates/security/change-permissions.html
  src/main/resources/templates/security/remove-cert-sign.html
  src/main/resources/templates/security/remove-password.html
  src/main/resources/templates/security/remove-watermark.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-html-tabs

Fixes empty th:action
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/remove-annotations.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update messages_de_DE.properties (#2070)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

extract and apply the image orientation from exif data in imageToPdf
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/utils/ImageProcessingUtils.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2077)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

extract and apply the image orientation from exif data in imageToPdf (#2073)
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/utils/ImageProcessingUtils.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Implement Diff.js
  src/main/resources/static/js/diff.js
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs
