Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
Due: none

Fix: remove dublicate en_GB, missing translation German
  scripts/translation_status.toml
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

add: multi OAuth2 option README.md, small cosmetic repairs
  CONTRIBUTING.md
  README.md
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/static/js/languageSelection.js
  src/main/resources/static/js/search.js
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/flatten.html
  src/main/resources/templates/misc/print-file.html
Due: check-html-tabs

update gradle wrapper version
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore: add some Chinese text translation
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

chore: revert change for multi tool translation
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

removed client-vanilla
  client-tauri/vite.config.ts
  client-vanilla/index.js
  client-vanilla/public/dep/downloadjs_1.4.7.js
  client-vanilla/public/dep/jsQR.js
  client-vanilla/public/dep/pdf-lib.min.js
  client-vanilla/public/dep/pdf.min.js
  client-vanilla/public/dep/pdf.worker.min.js
  client-vanilla/public/exampleWorkflows.js
  client-vanilla/public/functions.js
  client-vanilla/public/index.css
  client-vanilla/public/index.html
  client-vanilla/public/index.js
  server-node/src/jobs.ts
  server-node/vite.config.ts
Due: check-html-tabs

changes
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/resources/messages_fr_FR.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

cucumber
  .gitignore
  cucumber/features/environment.py
  cucumber/features/examples.feature
  cucumber/features/steps/step_definitions.py
  cucumber/requirements.txt
Due: none

minimal passport
  package-lock.json
  server-node/package.json
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/auth/user/user-model.ts
  server-node/src/index.ts
  server-node/src/jobs/jobs-controller.ts
  server-node/src/routes/api/dynamic-operations-controller.ts
  server-node/src/routes/api/workflow-controller.ts
  server-node/src/routes/auth/auth-controller.ts
  server-node/src/routes/auth/login-controller.ts
  server-node/src/routes/auth/logout-controller.ts
  server-node/src/routes/auth/register-controller.ts
  server-node/src/routes/auth/status-controller.ts
  server-node/src/utils/response-utils.ts
  shared-operations/declarations/Action.d.ts
Due: none

fix: change "crop image" to "crop pdf"
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

add: application icon/appname
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

fix fr messages: fix typo OUtils => Outils
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: "Mangues" is a better translation for "Languages" (English, French, etc.)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: be more consistent with uppercase 1st letter
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fr messages: improvement
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: View & Edit = Voir et modifier
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
