Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

[Bug Fix] Multiple Bug Fixes (#1836)
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Fix a bug where the file drop prompt would show during page drag on Firefox.
  src/main/resources/static/js/multitool/DragDropManager.js
Due: check-html-tabs

[Bug Fix] Fix Firefox Page Drag Bug (#1837)
  src/main/resources/static/js/multitool/DragDropManager.js
Due: check-html-tabs

modified the code by including AtomicInteger-imageIndex as parameter
  file-lock.lock
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

changed concurrent hashMap to ConcurrentHashSet ? (ConcurrentHashMap.newKeySet();) and removed the synchronised block for processed images
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

fix: Dockerfile-ultra-lite to reduce vulnerabilities
  Dockerfile-ultra-lite
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

[Snyk] Security upgrade alpine from 3.20.2 to 3.20.3 (#1839)
  Dockerfile-ultra-lite
Due: none

[Snyk] Security upgrade alpine from 3.20.2 to 3.20.3 (#1840)
  Dockerfile
Due: none

Add <br> when Bored Waiting Button Appears
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Added <br> below progress bar as well
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Removed <br>
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Fixed reduce extra space between input field & button #1829 (#1848)
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Changed <br> to get a consistent overlay-pdf form Repaired the overlay-pdfs.counts.label to be displayed and not deleted on change
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/overlay-pdf.html
Due: check-html-tabs

Update UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
Due: none

Update RequestUriUtils.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
Due: none

Update messages_ar_AR.properties
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Page Scale: add pageSize KEEP #1798 (#1800)
  src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageSize.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/scale-pages.html
Due: check-duplicate-properties-keys, check-html-tabs

Update RequestUriUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/RequestUriUtilsTest.java
Due: none

Minor fixes stopping invalid sessions (#1850)
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
  src/test/java/stirling/software/SPDF/utils/RequestUriUtilsTest.java
Due: none

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_en_US.properties
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1854)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

fix(stamp): radius styles of color input
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/misc/stamp.html
Due: check-html-tabs

fix(stamp): radius styles of color input (#1862)
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/misc/stamp.html
Due: check-html-tabs

Changed <br> to get a consistent overlay-pdf form (#1849)
  src/main/resources/templates/overlay-pdf.html
Due: check-html-tabs
