Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Prevent file input from being removed when an error occurs
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Fix a bug preventing fetch when 'Bored waiting' btn isn't present
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

check if anylitics enabled
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Fix file clear for errors (#2302)
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Posthog multitool (#2301)
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Sign multiple PDF pages at the same time in the same location (#2008) (#2278)
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Improves security when processing properties files
  .github/scripts/check_language_properties.py
  .github/workflows/check_properties.yml
Due: none

translation-az addpass
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

translation-az watermark
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

translation-az removeblanks
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

translation-az compare
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Fix: Prevents duplicate listing of search results
  src/main/resources/static/js/search.js
Due: check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix: Fixes dependency bug and replaces obsolete method
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Check for spaces in the key
  .github/scripts/check_language_properties.py
Due: none

translation-az certsign
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Fix: Fixes dependency bug and replaces obsolete method (#2309)
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Translation for #pdfOrganiser
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2307)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Translation for #multiTool
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Fix: Prevents duplicate listing of search results (#2306)
  src/main/resources/static/js/search.js
Due: check-html-tabs

Improves security when processing properties files (#2303)
  .github/scripts/check_language_properties.py
  .github/workflows/check_properties.yml
Due: none

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Add Tabula dependency and exclude slf4j-simple
  build.gradle
Due: none

Add a flexible CSVWriter
  src/main/java/stirling/software/SPDF/pdf/FlexibleCSVWriter.java
Due: none

Use Tabula in extracting tables from PDF
  src/main/java/stirling/software/SPDF/controller/api/converters/ExtractCSVController.java
Due: none

Delete PDFTableStripper as It is unneeded
  src/main/java/stirling/software/SPDF/controller/api/strippers/PDFTableStripper.java
Due: none

Use correct class in ExtractCSVController logger
  src/main/java/stirling/software/SPDF/controller/api/converters/ExtractCSVController.java
Due: none

improves readability
  .github/scripts/check_language_properties.py
Due: none

Bump com.h2database:h2 from 2.1.214 to 2.3.232
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/resources/application.properties
  src/main/resources/templates/database.html
Due: check-duplicate-properties-keys, check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
