Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_pt_BR.properties (#2429)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Add buttons for text selection and shape drawing
  src/main/resources/static/css/redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Add redaction mode selection using redactions buttons
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Refactor redact.js slightly for more readability
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Remove an unused import
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
Due: none

Refactor code and clear drawing on entering a different canvas/textLayer
  src/main/resources/static/js/redact.js
Due: check-html-tabs

cleanup
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/PersistentLogin.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application-postgres.properties
Due: check-duplicate-properties-keys

#2270 adding postgres to default profile
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/exception/UnsupportedDriverException.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

2270: Refactoring
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
Due: none

refactoring
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DataSourceConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/JpaConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationResult.java
  src/main/java/stirling/software/SPDF/model/exception/UnsupportedDriverException.java
  src/main/java/stirling/software/SPDF/service/CertificateValidationService.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/main/resources/setup_pg_admin_user.sql
  src/test/java/stirling/software/SPDF/config/security/InitialSecuritySetupTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: check-duplicate-properties-keys

2270: Added new dep, implemented functionality to init the DB in postgres, more refactoring
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

#2270 config for DB variants
  build.gradle
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DataSourceConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/JpaConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/PersistentLogin.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

cleanup
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
Due: none

clean up
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Due: none

#2270 cleanup
  scripts/init_db.sh
  src/main/resources/settings.yml.template
  src/main/resources/setup_pg_admin_user.sql
Due: none

#2270 adding postgres to Docker
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/resources/setup_pg_admin_user.sql
  src/test/java/stirling/software/SPDF/config/security/InitialSecuritySetupTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
Due: none

#2270 added initDB script
  build.gradle
  scripts/init_db.sh
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

2270: Adding postgresql
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Tweak additional files to integrate decryption and clean up js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/pages/add-image.js
  src/main/resources/static/js/pages/change-metadata.js
  src/main/resources/static/js/pages/crop.js
  src/main/resources/static/js/pages/pdf-to-csv.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/convert/pdf-to-csv.html
  src/main/resources/templates/crop.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/change-metadata.html
  src/main/resources/templates/overlay-pdf.html
Due: check-html-tabs

Fix a bug that caused redaction areas to be empty after delete operation
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Use correct color for toolbar icons
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Implement mutual exclusivity for Draw-based Redaction and Text Selection-based Redaction mode buttons
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Support pdf to image option
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Add escape shortcut to cancel current drawing
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add delete shortcut to delete redacted element
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Support page-based redactions
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Move redaction tools to the side of the zoom scale
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Rename pageNumbers's input id
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Support color choosing for page-based redaction
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/resources/static/css/redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Support customization per redaction area
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Fix a bug that caused color to always be black
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
Due: none

Remove unnecessary code
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add documentation for manual redaction
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
Due: none

Add manual redaction card to home page
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

Final pages fixed for decryption
  src/main/resources/templates/misc/extract-images.html
  src/main/resources/templates/misc/replace-color.html
  src/main/resources/templates/pipeline.html
Due: check-html-tabs

Add a button to apply redaction on selected text
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Use black as default redaction color for color palettes
  src/main/resources/static/css/redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Security fix: Server-Side Request Forgery
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
