Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update messages_it_IT.properties (#1526)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

adding documentation for database import and export
  DATABASE.md
  README.md
Due: none

Button looks like old button again and works with browser zoom, File name/ No file selcted message not working yet
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update DATABASE.md
  DATABASE.md
Due: none

adding documentation for database import and export (#1528)
  DATABASE.md
  README.md
Due: none

Update messages_it_IT.properties (#1527)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

File Name is displayed
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Automatically label PRs
  .github/labeler-config.yml
  .github/workflows/labeler.yml
Due: none

Update labeler-config.yml
  .github/labeler-config.yml
Due: none

Add labeler action for pull requests (#1529)
  .github/labeler-config.yml
  .github/workflows/labeler.yml
Due: none

Create stale.yml
  .github/workflows/stale.yml
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update labeler.yml
  .github/workflows/labeler.yml
Due: none

Fix labeler (#1533)
  .github/workflows/labeler.yml
Due: none

Fix labeler 2
  .github/workflows/labeler.yml
Due: none

Fix labeler 2 (#1534)
  .github/workflows/labeler.yml
Due: none

Update messages_de_DE.properties (#1532)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Add missing translations strings
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Add missing translations strings (#1535)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update stale.yml
  .github/workflows/stale.yml
Due: none

Create stale.yml (#1530)
  .github/workflows/stale.yml
Due: none

added non-translatable strings
  scripts/ignore_translation.toml
Due: none

added non-translatable strings (#1537)
  scripts/ignore_translation.toml
Due: none

No File Selctede Message is displayed correctly
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

All messages Displayed and Dynamic and Translatable
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

auto decrypt, update discord, fix multi file support for some inputs
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  src/main/java/stirling/software/SPDF/controller/api/security/PasswordController.java
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/error.html
  src/main/resources/templates/fragments/errorBanner.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/security/auto-redact.html
Due: check-html-tabs
