Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update messages_it_IT.properties (#2334)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Fix input files being overwritten by newly uploaded files
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Dispatch and use file-input-change instead of change event for merging
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

release notes and ghostscript removal
  Dockerfile
  build.gradle
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ExtractCSVController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/OptimizePdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ProcessPdfWithOcrRequest.java
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/misc/compress-pdf.html
  src/main/resources/templates/misc/ocr-pdf.html
  src/main/resources/templates/releases.html
Due: check-duplicate-properties-keys, check-html-tabs

formatting
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

update docs
  HowToUseOCR.md
  LocalRunGuide.md
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
Due: none

more
  Endpoint-groups.md
Due: none

docs
  README.md
Due: none

release bump
  build.gradle
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/fragments/footer.html
Due: check-duplicate-properties-keys, check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Fix: input file overwrite in merge (#2335)
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Update MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
Due: none

az translation scannerimagesplit
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

az translation ocr
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

az translation fix
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

az translation linebreak fix
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Implement Command class for Command Pattern
  src/main/resources/static/js/multitool/commands/command.js
Due: check-html-tabs

Azerbaijani Language Translation (#2347)
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Add undo/redo stacks and operations
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Use rotate element command to perform execute/undo/redo operations
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/rotate.js
Due: check-html-tabs

Add and use rotate all command to rotate/redo/undo all elements
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/rotate.js
Due: check-html-tabs

Use command pattern to delete pages
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/commands/delete-page.js
Due: check-html-tabs

Use command pattern for page selection
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/commands/select.js
Due: check-html-tabs

Use command pattern to move pages up and down
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/move-page.js
Due: check-html-tabs

Use command pattern to remove selected pages
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/remove.js
Due: check-html-tabs

Use command pattern to perform the splitting operation
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/split.js
Due: check-html-tabs

Add undo/redo functionality with filename input exclusion
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Introduce UndoManager for managing undo/redo operations
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/UndoManager.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Fix page break insertion functionality
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs
