Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update view-pdf.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Add files via upload
  src/main/resources/messages_hr_HR.properties
Due: check-duplicate-properties-keys

Update languages.html
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update README.md
  README.md
Due: none

Update build.gradle
  build.gradle
Due: none

Fix: Initialization Issue and Enhance Configuration Management for ConfigInitializer #1324
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
Due: none

fix the crop problem
  src/main/resources/templates/crop.html
Due: check-html-tabs

fat docker
  Dockerfile-fat
  Dockerfile-ultra-lite
  scripts/init-without-ocr.sh
  src/main/resources/templates/fragments/navbar.html
  test.sh
Due: check-html-tabs

remove headless due to com.sun.imageio.plugins.jpeg.JPEGImageWriter
  Dockerfile
  Dockerfile-fat
  Dockerfile-ultra-lite
Due: none

automate fat docker
  .github/workflows/push-docker.yml
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineDirectoryProcessor.java
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
  src/main/resources/templates/fragments/navbar.html
  test.sh
Due: check-html-tabs

userdefined api-keys
  server-node/src/auth/apikey/apikey-controller.ts
  server-node/src/auth/apikey/apikey-model.ts
  server-node/src/auth/authenticationMiddleware.ts
  server-node/src/auth/checkAuthorizedMiddleware.ts
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/auth/user/user-model.ts
  server-node/src/data/sequelize-relations.ts
  server-node/src/routes/api/api-controller.ts
  server-node/src/routes/auth/create-api-key-controller.ts
  server-node/src/routes/auth/status-controller.ts
Due: none

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

fixed associations, user can auth via api-key
  server-node/src/auth/apikey/apikey-controller.ts
  server-node/src/auth/apikey/apikey-model.ts
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-model.ts
  server-node/src/data/sequelize-relations.ts
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

new workaround for remove digital signature
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/controller/api/security/RemoveCertSignController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-pdfa.html
Due: check-duplicate-properties-keys, check-html-tabs

notification
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-pdfa.html
Due: check-duplicate-properties-keys, check-html-tabs

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

init sonar
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/LoginAttemptService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
Due: none

logging and try catch
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MetricsFilter.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageNums.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none
