Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

init
  images/DemoGif.gif
  images/login-dark.png
  images/login-light.png
  images/settings-light.png
  images/settings.png
  images/stirling-home-dark.png
  images/stirling-home-light.png
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

revert
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Images and login context (#1417)
  images/DemoGif.gif
  images/login-dark.png
  images/login-light.png
  images/settings-light.png
  images/settings.png
  images/stirling-home-dark.png
  images/stirling-home-light.png
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
Due: none

add password validator
  src/main/resources/templates/change-creds.html
Due: check-html-tabs

pipelines fixes for lists
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/utils/UrlUtils.java
  src/main/resources/static/js/pipeline.js
Due: check-html-tabs

add password validator (#1418)
  src/main/resources/templates/change-creds.html
Due: check-html-tabs

Add template for bug issues
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Add template for bug issues (#1419)
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Create 2-feature.yml
  .github/ISSUE_TEMPLATE/2-feature.yml
Due: none

Update 2-feature.yml
  .github/ISSUE_TEMPLATE/2-feature.yml
Due: none

Feature request template (#1422)
  .github/ISSUE_TEMPLATE/2-feature.yml
Due: none

pipeline fixes to allow json lists
  .github/ISSUE_TEMPLATE/1-bug.yml
  src/main/resources/static/js/pipeline.js
Due: check-html-tabs

formatting
  src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Add: Option to remove the digital signature when merging
  src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  src/main/java/stirling/software/SPDF/model/api/general/MergePdfsRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/merge-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

pipeline changes
  pipeline/defaultWebUIConfigs/OCR images.json
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/bootstrap.min.css
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/pipeline.html
Due: check-duplicate-properties-keys, check-html-tabs

langs
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1423)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Add: Option to remove the digital signature when merging (#1424)
  src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  src/main/java/stirling/software/SPDF/model/api/general/MergePdfsRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/merge-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

Update githubVersion.js
  src/main/resources/static/js/githubVersion.js
Due: check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update Dockerfile-fat
  Dockerfile-fat
Due: none

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none
