Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix: Left-align the submit button on each card for pdf operation
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/security/add-password.html
  src/main/resources/templates/security/cert-sign.html
  src/main/resources/templates/security/change-permissions.html
  src/main/resources/templates/security/remove-cert-sign.html
  src/main/resources/templates/security/remove-password.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-html-tabs

Fix: Left-align the submit button on each card for pdf operation (#1897)
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/security/add-password.html
  src/main/resources/templates/security/cert-sign.html
  src/main/resources/templates/security/change-permissions.html
  src/main/resources/templates/security/remove-cert-sign.html
  src/main/resources/templates/security/remove-password.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-html-tabs

#1841
  src/main/resources/templates/misc/stamp.html
Due: check-html-tabs

#1841 for watermark
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

#1869 and ensure naming
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/resources/templates/misc/adjust-contrast.html
Due: check-html-tabs

Css changes (#1899)
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/stamp.html
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

feat: only load pdf-lib when its used
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

feat: only load pdfjs when its used
  src/main/resources/templates/convert/pdf-to-csv.html
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/crop.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/change-metadata.html
  src/main/resources/templates/misc/compare.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/rotate-pdf.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Load pdf libs when needed (#1902)
  src/main/resources/templates/convert/pdf-to-csv.html
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/crop.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/change-metadata.html
  src/main/resources/templates/misc/compare.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/rotate-pdf.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

fix: use gs to convert to pdfa and return output by reading file as bytes
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
Due: none

feat: update translation files for pdfToPDFA.credit
  scripts/replace_translation_line.sh
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Fix pdfa conversion (#1907)
  scripts/replace_translation_line.sh
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

feat: rotate preview in multitool
  src/main/resources/static/js/multitool/ImageHighlighter.js
Due: check-html-tabs

feat: rotate preview in multitool (#1909)
  src/main/resources/static/js/multitool/ImageHighlighter.js
Due: check-html-tabs

Update messages_it_IT.properties (#1910)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Added [Feature Request]: command flag to use the next available port #1882
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

length of card which was getting displayed on hovering is reduced
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Updating pt-BR translation file.
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Add feautre group header fragment for homepage.
  src/main/resources/templates/fragments/featureGroupHeader.html
Due: check-html-tabs

Add feature group headers to feature groups.
  src/main/resources/templates/home.html
Due: check-html-tabs

Style feature groups.
  src/main/resources/static/css/home.css
Due: check-html-tabs

Add collapsing/expanding functionality as well as a favorites section.
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Cards are now sorted in the order of update link > favorite > alphabetical on the homepage.
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Decrease space between section title and cards.
  src/main/resources/static/css/home.css
Due: check-html-tabs

fixed colorspace array exception
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
