Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update auto-labeler.yml
  .github/workflows/auto-labeler.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update build.gradle
  build.gradle
Due: none

Update licenses-update.yml
  .github/workflows/licenses-update.yml
Due: none

Update build.gradle to use commmon versions (#1697)
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

fix
  src/main/resources/templates/remove-pages.html
Due: check-html-tabs

Updated pt_BR ignored translations
  scripts/ignore_translation.toml
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

increases some versions in the workflows
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
Due: none

creates a custom image for Docker from pymupdf
  .github/scripts/docker/Dockerfile-PyMuPDF
  .github/workflows/pymupdf.yml
  .pymupdf
  Dockerfile
  Dockerfile-fat
Due: none

Update SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
Due: none

Fix: Failed authentication #1704
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/templates/account.html
Due: check-html-tabs

Update account.html
  src/main/resources/templates/account.html
Due: check-html-tabs

increases some versions in the workflows (#1707)
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
Due: none

Add Option to Specify Installation Method in Bug Report Template
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

incomplete Turkish language completed
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Update 1-bug.yml
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
