Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update compress-pdf.html
  src/main/resources/templates/misc/compress-pdf.html
Due: check-html-tabs

Update merge-pdfs.html
  src/main/resources/templates/merge-pdfs.html
Due: check-html-tabs

Update split-pdfs.html
  src/main/resources/templates/split-pdfs.html
Due: check-html-tabs

Update messages_ca_CA.properties (#2210)
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

Update get-info-on-pdf.html #2212
  src/main/resources/templates/security/get-info-on-pdf.html
Due: check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Update HowToUseOCR.md
  HowToUseOCR.md
Due: none

Restricting file input to .md files for Markdown to PDF conversion
  src/main/resources/templates/convert/markdown-to-pdf.html
Due: check-html-tabs

Restricting file input to .md files for Markdown to PDF conversion (#2219)
  src/main/resources/templates/convert/markdown-to-pdf.html
Due: check-html-tabs

Increase watermark coverage to fill page (#2049)
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
Due: none

WIP: fixes canvas and rect to crop - small problem in smaller screens - neew to fix re render page on resize
  src/main/resources/templates/crop.html
Due: check-html-tabs

Closes #2209
  src/main/resources/templates/crop.html
Due: check-html-tabs

Catalan Translation - Stirling PDF String Updates
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

Increase watermark coverage to fill page with the new calculation (#2049)
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
Due: none

Removes references to nonexistent endpoint
  Endpoint-groups.md
  Version-groups.md
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

Removes references to nonexistent endpoint (#2223)
  Endpoint-groups.md
  Version-groups.md
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

Catalan Translation - Stirling PDF String Updates (#2222)
  README.md
  scripts/ignore_translation.toml
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

adds missing dependencies in the endpoints
  Endpoint-groups.md
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

adds missing dependencies in the endpoints (#2224)
  Endpoint-groups.md
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

Mention HTTP error 413 in FAQ
  README.md
Due: none

Mention HTTP error 413 in FAQ (#2226)
  README.md
Due: none

Fix canvas crop (#2221)
  src/main/resources/templates/crop.html
Due: check-html-tabs

Increase watermark coverage to fill page (#2049) (#2220)
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none
