Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix favorites section being cut off if it has too many items.
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Fix the group collapse transition animation playing on page load.
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

[Bug Fix] New Home Page Bug Fixes (#1973)
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

minor change to retry test
  testdriver/test.yml
Due: none

up to Settings translation completed
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

up to HomePage translation completed
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

up to WebPages translation completed
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Whole translation done!
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Turkish translation (#1980)
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

all things saml
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionFilter.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionManager.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/saml/ConvertResponseToAuthentication.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/SAMLLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookup.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookupImpl.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlAssertionUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlConfig.java
  src/main/java/stirling/software/SPDF/config/security/saml/ScimSaml2AuthenticatedPrincipal.java
  src/main/java/stirling/software/SPDF/config/security/saml/SimpleScimMappings.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/main/resources/templates/account.html
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

commit for feature developing invert-replace color of a pdf for stirling PDF
  src/main/java/stirling/software/SPDF/Factories/ReplaceAndInvertColorFactory.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/HighContrastColorCombination.java
  src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvert.java
  src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvertColorRequest.java
  src/main/java/stirling/software/SPDF/service/misc/ReplaceAndInvertColorService.java
  src/main/java/stirling/software/SPDF/utils/misc/CustomColorReplaceStrategy.java
  src/main/java/stirling/software/SPDF/utils/misc/HighContrastColorReplaceDecider.java
  src/main/java/stirling/software/SPDF/utils/misc/InvertFullColorStrategy.java
  src/main/java/stirling/software/SPDF/utils/misc/PdfTextStripperCustom.java
  src/main/java/stirling/software/SPDF/utils/misc/ReplaceAndInvertColorStrategy.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/misc/replace-color.html
Due: check-duplicate-properties-keys, check-html-tabs

add debug
  .github/workflows/testdriver.yml
Due: none

Fixed Download Button Placement
  src/main/resources/templates/misc/adjust-contrast.html
Due: check-html-tabs

Fixed Searchbar sizing
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Added page counts to merge pdf tool
  src/main/resources/static/js/merge.js
  src/main/resources/templates/merge-pdfs.html
Due: check-html-tabs

Searchbar Dynamically Resizes (#1985)
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Authenticated Routes and Redirects
  client-tauri/.env
  client-tauri/src/App.tsx
  client-tauri/src/components/AuthenticatedRoute.tsx
  client-tauri/src/pages/Auth/Login.tsx
  client-tauri/src/pages/Auth/Logout.tsx
  client-tauri/src/pages/Auth/Register.tsx
  client-tauri/src/pages/Operators.tsx
  client-tauri/vite.config.ts
Due: none

commit for feature developing invert-replace color of a pdf for stirl… (#1982)
  src/main/java/stirling/software/SPDF/Factories/ReplaceAndInvertColorFactory.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/HighContrastColorCombination.java
  src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvert.java
  src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvertColorRequest.java
  src/main/java/stirling/software/SPDF/service/misc/ReplaceAndInvertColorService.java
  src/main/java/stirling/software/SPDF/utils/misc/CustomColorReplaceStrategy.java
  src/main/java/stirling/software/SPDF/utils/misc/HighContrastColorReplaceDecider.java
  src/main/java/stirling/software/SPDF/utils/misc/InvertFullColorStrategy.java
  src/main/java/stirling/software/SPDF/utils/misc/PdfTextStripperCustom.java
  src/main/java/stirling/software/SPDF/utils/misc/ReplaceAndInvertColorStrategy.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/misc/replace-color.html
Due: check-duplicate-properties-keys, check-html-tabs

Cleanup, Updated Docs
  CONTRIBUTE.md
  README.md
  client-tauri/src/App.tsx
  client-tauri/src/pages/Auth/Auth.module.css
  client-tauri/src/pages/Auth/Login.tsx
  client-tauri/src/pages/Auth/Logout.tsx
  client-tauri/src/pages/Auth/Register.tsx
  shared-operations/src/functions/common/detectEmptyPages.ts
  shared-operations/src/functions/common/detectQRCodePages.ts
  shared-operations/src/functions/common/getImagesOnPage.ts
  shared-operations/src/functions/common/getPagesByIndex.ts
  shared-operations/src/functions/common/pageIndexesSorting.ts
  shared-operations/src/functions/common/pageIndexesUtils.ts
  shared-operations/src/functions/common/sortPdfArray.ts
  shared-operations/src/functions/common/splitPagesByIndex.ts
  shared-operations/src/functions/index.ts
Due: check-html-tabs

used page and pages in en_GB and hindi properties file
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/static/js/merge.js
  src/main/resources/templates/merge-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

Added page counts to merge pdf tool (#1986)
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/static/js/merge.js
  src/main/resources/templates/merge-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_zh_CN.properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

disable fingerpritning
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionFilter.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionManager.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintGenerator.java
Due: none

Update messages_zh_CN.properties (#1989)
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1990)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

format
  cucumber/features/external.feature
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionFilter.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintBasedSessionManager.java
  src/main/java/stirling/software/SPDF/config/fingerprint/FingerprintGenerator.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/utils/misc/ReplaceAndInvertColorStrategy.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/horizontalScroll.js
Due: check-duplicate-properties-keys, check-html-tabs

fingerprint
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

readd html, add usercount to license
  Dockerfile-fat
  build.gradle
  cucumber/features/external.feature
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  scripts/init-without-ocr.sh
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertBookToPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertHtmlToPDF.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertMarkdownToPdf.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToBookController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/service/CustomPDDocumentFactory.java
  src/main/java/stirling/software/SPDF/utils/CustomHtmlSanitizer.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  test.sh
Due: none

files
  cucumber/exampleFiles/example.html
  cucumber/exampleFiles/example.md
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
