Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

used lsf4j logger instead of prntln
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

removed unnecessary comment
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Add filtering buttons and view options to homepage.
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/home.html
Due: check-html-tabs

fixed colorspace array exception (#1925)
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties (#1927)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Updating pt-BR translation file. (#1920)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties (#1912)
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

length of card which was getting displayed on hovering is reduced (#1915)
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Reduce card size in get info on pdf page
  src/main/resources/templates/security/get-info-on-pdf.html
Due: check-html-tabs

[FIX]: Reduce card size in "Get info on PDF" page (#1932)
  src/main/resources/templates/security/get-info-on-pdf.html
Due: check-html-tabs

home button visible in view PDF page
  src/main/resources/static/pdfjs-legacy/images/toolbarButton-home.svg
Due: none

[fix]: home button on view PDF page (#1933)
  src/main/resources/static/pdfjs-legacy/images/toolbarButton-home.svg
Due: none

added a line of code processedImages.add(imageHash);
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

issue #1818 solved
  src/main/resources/static/css/theme/theme.css
Due: check-html-tabs

Fixed the dependency of Spring-webmvc from 6.1.9 to 6.1.13
  build.gradle
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Hide list view button in preparation for release.
  src/main/resources/templates/home.html
Due: check-html-tabs

Home page improvements (#1940)
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/featureGroupHeader.html
  src/main/resources/templates/home.html
Due: check-html-tabs

#1869 and ensure naming
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/MetricsFilter.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/session/CustomHttpSessionListener.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionPersistentRegistry.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/resources/application.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/home.html
  src/main/resources/templates/split-pdf-by-chapters.html
Due: check-duplicate-properties-keys, check-html-tabs

a
  src/main/resources/static/pdfjs-legacy/images/toolBarButton-home.svg
Due: none

a
  src/main/resources/static/pdfjs-legacy/images/toolbarButton-home.svg
Due: none

a
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/session/CustomHttpSessionListener.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionPersistentRegistry.java
Due: none

Smaller italian optimizations
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Minor fixes
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Smaller italian optimizations (#1943)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update LocalRunGuide.md (#1885)
  LocalRunGuide.md
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

minor changes - build successful
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
Due: none

issue #1818 fixed
  src/main/resources/static/css/home.css
Due: check-html-tabs

theme.css changed to previous code
  src/main/resources/static/css/theme/theme.css
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
