Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

[Bug fix] Favorite Icon highlighted with yellow color when selected (#1934)
  src/main/resources/static/css/home.css
  src/main/resources/static/css/theme/theme.css
Due: check-html-tabs

navbar enhancements
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

log
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
Due: none

Update: port finding starts from 0 instead of default 8080 port
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

issue #1801 fixed
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/font.css
Due: check-html-tabs

navbar.html updated
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

model ConvertPdfToMarkDown
  src/main/java/stirling/software/SPDF/model/api/converters/PdfToMarkdownRequest.java
Due: none

remove style color
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

remove style color (#1948)
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

multi language fixed
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

enhanced controller of markdowntopdf controller
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertMarkdownToPdf.java
  src/main/java/stirling/software/SPDF/model/api/converters/PdfToMarkdownRequest.java
Due: none

Add installFonts.sh to ultra-lite image
  Dockerfile-ultra-lite
Due: none

Create /usr/share/fonts/opentype/noto on ultra-lite images
  Dockerfile-ultra-lite
Due: none

Fix startup errors on ultra-lite image (#1950)
  Dockerfile-ultra-lite
Due: none

Added functionality to use the next available port (#1913)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
Due: none

changes
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

[Bug fix] Tooltip support added for Theme & Settings in the Navigation bar (#1947)
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/font.css
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

initial Commit
  .github/workflows/testdriver.yml
  testdriver/test.yml
Due: none

[fix]: check for empty password encryption on load
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/service/CustomPDDocumentFactory.java
Due: none

[fix]: check for encryption in PageNumbers (#1949)
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/service/CustomPDDocumentFactory.java
Due: none

update prerun
  .github/workflows/testdriver.yml
Due: none

tweak the prompt
  testdriver/test.yml
Due: none

update the test
  testdriver/test.yml
Due: none

finetune prompt
  testdriver/test.yml
Due: none

change the prompt
  testdriver/test.yml
Due: none

fix Show Javascript card layout
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/misc/show-javascript.html
Due: check-html-tabs

fix Show Javascript card layout (#1959)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/misc/show-javascript.html
Due: check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

changes
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/java/stirling/software/SPDF/config/security/session/CustomHttpSessionListener.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
  src/main/resources/application.properties
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/static/css/bootstrap.min.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

[Feature Request]: multi-tool will edit pdf metadata to change creator and producer to Stirling PDF
  .vscode/settings.json
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

nothing changed just needs of compailer
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/resources/static/css/multi-tool.css
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

fix the width of Multi Tool card
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
