Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

remove lite package (#1012)
  .github/workflows/push-docker.yml
  Dockerfile-lite
  README.md
  Version-groups.md
  exampleYmlFiles/docker-compose-latest-lite-security.yml
  exampleYmlFiles/docker-compose-latest-lite.yml
  test.sh
  test2.sh
Due: none

alphine update for word conversion issue #995
  Dockerfile
Due: none

Chinese font and word conv fix (#1014)
  Dockerfile
Due: none

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_versions.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Managing Update Notifications
  README.md
  src/main/java/stirling/software/SPDF/config/security/AppUpdateShowService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/main/resources/static/js/githubVersion.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Update navbar.css
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

lang: update fr_FR
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update screen of homepage
  README.md
  images/stirling-home.jpg
  images/stirling-home.png
Due: none

Fix description for "Split PDF" except AR
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Fix description for "Split PDF" in AR
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Update footer.html
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

Sponsored information supports translate now
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Sponsor information supports translate now (#1023)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Update ja_JP,ko_KR,ru_RU,zh_TW.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Fix one mistake on AR
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Keep clear this branch from other branches
  README.md
  images/stirling-home.jpg
  images/stirling-home.png
Due: none

Update homepage screen in README (#1021)
  README.md
  images/stirling-home.jpg
  images/stirling-home.png
Due: none

Enhance description for "Split PDF" functionality (#1025)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

lang: update fr_FR (#1020)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update README.md (#606)
  README.md
Due: none

Update progress of language
  README.md
  scripts/counter_translation.py
Due: none

Update progress of language (#1029)
  README.md
  scripts/counter_translation.py
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1031)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

update TR
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

OCR fix for #1019
  Dockerfile
  build.gradle
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
