Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Add missing translation and improve some wordings to be more natural for Turkish
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Amended typo: trailing space
  README.md
  src/main/resources/settings.yml.template
Due: none

added czech translations
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/static/images/flags/cz.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: expand on sso example showing ability to alter oauth2 scope
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
Due: none

chore: correcting typo in docker-compose example for sso
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
Due: none

Changed screenshot in ReadMe with a screenshot of new UI
  images/stirling-home.jpg
Due: none

Fixed black edge at the side of the screenshot
  images/stirling-home.jpg
Due: none

Update README.md
  README.md
Due: none

test random stuff
  src/main/resources/static/browserconfig.xml
  src/main/resources/static/site.webmanifest
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/login.html
  src/main/resources/templates/sign.html
  src/main/resources/templates/split-pdf-by-sections.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

update to alpine v3.20.0 (1/2)
  Dockerfile
Due: none

update to alpine v3.20.0 (2/3)
  Dockerfile
Due: none

update to alpine v3.20.0 (3/3)
  Dockerfile-ultra-lite
Due: none

Revert "User Friendly Merge File Selection"
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

#1214 Only take files that are good for processing
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineDirectoryProcessor.java
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
Due: none

fix fr translation of "Sign"
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
