Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update translation files
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update PdfImageRemovalController.java
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
Due: none

bug Update remove image to show on api docs
  src/main/java/stirling/software/SPDF/controller/api/PdfImageRemovalController.java
Due: none

implement Saml2 login/logout
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/ConvertResponseToAuthentication.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/SAMLLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookup.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookupImpl.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlAssertionUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlConfig.java
  src/main/java/stirling/software/SPDF/config/security/saml/ScimSaml2AuthenticatedPrincipal.java
  src/main/java/stirling/software/SPDF/config/security/saml/SimpleScimMappings.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticatedPrincipal.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionPersistentRegistry.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Provider.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/login.html
Due: check-html-tabs

changed: deprecation code
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

relyingPartyRegistrations only enabled samle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Update messages_pl_PL.properties
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Major Enhancements to SAML2 and OAuth2 Integration with Simplified Security Configurations (#2040)
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/ConvertResponseToAuthentication.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/CustomSAMLAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/SAMLLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookup.java
  src/main/java/stirling/software/SPDF/config/security/saml/Saml2AuthorityAttributeLookupImpl.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlAssertionUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml/SamlConfig.java
  src/main/java/stirling/software/SPDF/config/security/saml/ScimSaml2AuthenticatedPrincipal.java
  src/main/java/stirling/software/SPDF/config/security/saml/SimpleScimMappings.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticatedPrincipal.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/config/security/session/SessionPersistentRegistry.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Provider.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Update messages_bg_BG.properties
  src/main/resources/messages_bg_BG.properties
Due: check-duplicate-properties-keys

Update messages_bg_BG.properties (#2045)
  src/main/resources/messages_bg_BG.properties
Due: check-duplicate-properties-keys

Update and improve zh_TW Traditional Chinese locale (#2046)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_pl_PL.properties (#2042)
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

remove unused translation
  scripts/remove_translation_keys.sh
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update translation files
  src/main/resources/messages_bg_BG.properties
Due: check-duplicate-properties-keys

Removed horizontal scroll logic from multi-tool template
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Default terms and conditions to stirlingpdf.com
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/resources/settings.yml.template
Due: none

Fixed layering issue with z-index, and added smoother transitions for… (#1996)
  package-lock.json
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Delete package-lock.json
  package-lock.json
Due: none

Default terms and conditions to stirlingpdf.com (#2058)
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/resources/settings.yml.template
Due: none

Add on hover color to sign (#2059)
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

fix a spelling mistake in a french message
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Translate "Remove Certificate Sign" to French
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

french translation for pdfToPDFA.pdfWithDigitalSignature
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix french translation for BootToPDF and PDFToBook
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys
