Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Create ExternalAppDepConfig.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
Due: none

Update EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

add visual digital signature
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/resources/static/images/signature.png
  src/main/resources/templates/security/cert-sign.html
Due: check-html-tabs

visual certificate signing (#2084)
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/resources/static/images/signature.png
  src/main/resources/templates/security/cert-sign.html
Due: check-html-tabs

added some missing translations
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

pdf
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

pdf
  CONTRIBUTING.md
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

pdf
  chart/stirling-pdf/values.yaml
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

pdf
  .github/ISSUE_TEMPLATE/config.yml
  chart/stirling-pdf/Chart.yaml
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

added some missing translations (#2085)
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

Auto detect presence of external dependencies (LibreOffice etc) and disable/enable features dynamically (#2082)
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
Due: none

Update the Tests (#2066)
  .github/workflows/testdriver.yml
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/resources/templates/fragments/navbar.html
  testdriver/test.yml
Due: check-html-tabs

Spanish translate
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Added blank line
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Spanish translate (#2102)
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

certificate processing
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
Due: none

Hides dialog when provider list is empty
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

removed: unused
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Update id_ID Translation and fix some grammars
  src/main/resources/messages_id_ID.properties
Due: check-duplicate-properties-keys

sync lines to fix build warning
  src/main/resources/messages_id_ID.properties
Due: check-duplicate-properties-keys

chore(helm): bump chart version according to semver
  .github/scripts/gradle_to_chart.py
Due: none

feat: add helm chart github action
  .github/workflows/lint-helm-charts.yml
  .github/workflows/release-helm-charts.yml
  .pre-commit-config.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/README.md.gotmpl
  chart/stirling-pdf/values.yaml
  cr.yaml
Due: none

fix: remove test branch
  .github/workflows/lint-helm-charts.yml
  .github/workflows/release-helm-charts.yml
Due: none

Optimierung der SAML2-Integration und Verbesserung der Zertifikats- und Fehlerbehandlung (#2105)
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Compare feature - add service worker and improve efficiency for large files
  src/main/resources/static/js/compare/diff.js
  src/main/resources/static/js/compare/pdfWorker.js
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

Compare - messages updated to be compatable with language packs
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/compare/pdfWorker.js
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

get back new line at end of file
  src/main/resources/messages_id_ID.properties
Due: check-duplicate-properties-keys

Add new french translations
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Add new french translations (#2120)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Compare - Acknowledge Diff.js usage
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Implement Diff.js
  src/main/resources/static/js/diff.js
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs
