Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Add info translation (#1791)
  .github/pull_request_template.md
  HowToAddNewLanguage.md
Due: none

Language change contribution (Hindi) (#1799)
  src/main/resources/messages_hi_IN.properties
Due: check-duplicate-properties-keys

added the features to application properties and settings
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MemoryConfig.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/memoryUtils.java
  src/main/resources/application.properties
  src/main/resources/settings.yml
Due: check-duplicate-properties-keys

final
  src/main/java/stirling/software/SPDF/config/AppConfig.java
Due: none

@operation added
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Add a split button on top of the insert button in multitool viewer.
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add placeholder splitFileButtonCallback method.
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Remove unused splitFileButtonContainer element.
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add this binding to setActions for splitFileButtonCallback
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add test log for adding separators.
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Remove test logs and add visual indicators to separators instead.
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add splitting functionality to multi-tools.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Fix insertFileButton referencing the old addPdfs method.
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Prevent trying to split from index 0.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Hide the split button for the first page to avoid confusion.
  src/main/resources/static/css/multi-tool.css
Due: check-html-tabs

Change the class name 'cutBefore' to 'split-before' to fall mroe in line with already existing classes.
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Added System.getProperty("java.io.tmpdir")
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/utils/memoryUtils.java
Due: none

Fix insertFileButton referencing the old addPdfs method. (#1809)
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add dummy methods for splitting and compressing documents.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Remove form submission, begin work on client side splitting.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Update deployment automation
  .github/workflows/deploy.yml
Due: none

Update deployment automation 2
  .github/workflows/deploy.yml
Due: none

Add changes to deploy.yml
  .github/workflows/deploy.yml
Due: none

Update directory of deploy.yml
  .github/workflows/deploy.yml
Due: none

Add client side document splitting.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Fix Docker login issue
  .github/workflows/deploy.yml
Due: none

new changes suggested has been added
  src/main/java/stirling/software/SPDF/controller/api/misc/PageNumbersController.java
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Deployment Automation Update
  .github/workflows/deploy.yml
Due: none

Added functionality to set font size and font type in both frontend and backend. (#1783)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PageNumbersController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddPageNumbersRequest.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/misc/add-page-numbers.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Add client side archiving for the split documents.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

resumed the earlier code PDFExtractImagesRequest instead of PDFWithImageFormatRequest with slight changes
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/utils/memoryUtils.java
Due: none

Update messages_da_DK.properties
  src/main/resources/messages_da_DK.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
