Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

PDF to PDF/A language files (#1118)
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

lang adds
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1120)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_tr_TR.properties
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Update messages_tr_TR.properties (#1126)
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

commit
  README.md
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

formatting
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
Due: none

commit (#1128)
  README.md
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

test
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

settings
  README.md
  src/main/resources/settings.yml.template
Due: none

version
  build.gradle
Due: none

Custom HTML support #355 (#1129)
  README.md
  build.gradle
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Handling Untranslatable Strings
  .github/workflows/sync_files.yml
  HowToAddNewLanguage.md
  scripts/counter_translation.py
  scripts/translation_status.toml
Due: none

Handling Untranslatable Strings (#1133)
  .github/workflows/sync_files.yml
  HowToAddNewLanguage.md
  scripts/counter_translation.py
  scripts/translation_status.toml
Due: none

Somewhat working
  build.gradle
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

Change Autocreate logic
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Add OAuth Error Message if Auto create Disabled
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/login.html
Due: check-duplicate-properties-keys, check-html-tabs

Display OAUTH2 username(email) in Account Settings
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

fix for #1035
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

Update ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

fix for #1035 (#1137)
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

fix #974
  Dockerfile
Due: none

fonts noto fix #974 (#1139)
  Dockerfile
Due: none

Disable Change user/pass for Oauth2 user
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/templates/account.html
Due: check-html-tabs

Hide SSO Button if SSO login Disabled
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/templates/login.html
Due: check-html-tabs

Remove some spaces and comments
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Add OAUTH2 Login example docker-compose file
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
Due: none

Add Some Comments
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none
