Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

fancy button
  src/main/resources/application.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

resolve path
  src/main/resources/templates/error.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

resolve #1386
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/model/InputStreamTemplateResource.java
Due: none

format
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/model/InputStreamTemplateResource.java
Due: none

fix version number
  build.gradle
Due: none

refactor data clumps
  src/main/java/stirling/software/SPDF/controller/api/OverlayParameters.java
  src/main/java/stirling/software/SPDF/controller/api/PdfOverlayController.java
Due: none

Fix one test in Class ProcessExecutorTest
  src/test/java/stirling/software/SPDF/utils/ProcessExecutorTest.java
Due: none

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Add: Bypass for too many requests to the github api
  src/main/resources/static/js/githubVersion.js
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update githubVersion.js
  src/main/resources/static/js/githubVersion.js
Due: check-html-tabs

Update navbar.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

fr messages: more translations
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Nex fr_FR ignore
  scripts/translation_status.toml
Due: none

New fr_FR ignore
  scripts/translation_status.toml
Due: none

add: redesign addUsers.html
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/convert/html-to-pdf.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

add: redesign addUsers.html (#1407)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/convert/html-to-pdf.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

[ImgBot] Optimize images
  docs/stirling-pdf.png
  images/login-dark.png
  images/login-light.png
  images/settings.png
  images/stirling-home-light.png
  images/stirling-home.jpg
  src/main/resources/static/pdfjs/images/loading-icon.gif
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1413)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

fixes API query, replaces password comparisons, fixes duplicate ids
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
Due: check-duplicate-properties-keys, check-html-tabs

Bugfix: fixes API query, replaces password comparisons, fixes duplicate ids (#1415)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
Due: check-duplicate-properties-keys, check-html-tabs
