Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Removed: Duplicate Properties Keys pt_PT
  src/main/resources/messages_pt_PT.properties
Due: check-duplicate-properties-keys

Dynamic access to Operators in both front and backend
  client-tauri/package.json
  client-tauri/src/components/fields/BuildFields.tsx
  client-tauri/src/components/fields/StringField.tsx
  client-tauri/src/pages/Dynamic.tsx
  client-tauri/vite.config.ts
  package-lock.json
  server-node/package.json
  server-node/rollup.config.js
  server-node/src/index.ts
  server-node/src/routes/api/dynamic-operations-controller.ts
  server-node/tsconfig.json
  shared-operations/declarations/ImportMeta.d.ts
  shared-operations/src/functions/arrangePages.ts
  shared-operations/src/workflow/getOperatorByName.ts
  shared-operations/src/workflow/listOperatorsInDir.ts
  shared-operations/src/workflow/operatorAccessor.ts
  shared-operations/src/workflow/traverseOperations.ts
  shared-operations/src/workflow/validateOperations.ts
Due: check-html-tabs

Fix: file extenstions in imports
  shared-operations/src/functions/common/detectEmptyPages.ts
  shared-operations/src/functions/common/detectQRCodePages.ts
  shared-operations/src/functions/common/getImagesOnPage.ts
  shared-operations/src/functions/common/getPagesByIndex.ts
  shared-operations/src/functions/common/splitPagesByIndex.ts
  shared-operations/src/functions/extractPages.ts
  shared-operations/src/functions/removeBlankPages.ts
  shared-operations/src/functions/removePages.ts
  shared-operations/src/functions/scalePage.ts
  shared-operations/src/functions/splitPagesByPreset.ts
  shared-operations/src/functions/splitPdfByIndex.ts
  shared-operations/src/workflow/operatorAccessor.ts
  shared-operations/src/wrappers/PdfFile.ts
Due: none

Update SPdfApplication.java
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

Corrected the reading of the port. See: #834
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
Due: none

Update swagger.yml
  .github/workflows/swagger.yml
Due: none

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Removed: Duplicate Properties Keys pt_PT (#854)
  src/main/resources/messages_pt_PT.properties
Due: check-duplicate-properties-keys

version bump
  build.gradle
Due: none

Update SPdfApplication.java (#853)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

Update docker-compose-latest.yml
  exampleYmlFiles/docker-compose-latest.yml
Due: none

Added option to split PDF into multiple parts and merge into one PDF (#841)
  pipeline/defaultWebUIConfigs/split-rotate-auto-rename.json
  src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/model/api/SplitPdfBySectionsRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/split-pdf-by-sections.html
Due: check-duplicate-properties-keys, check-html-tabs

remove customApp
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

Removed outdated import
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

GenericFields
  client-tauri/index.html
  client-tauri/src/components/fields/BuildFields.tsx
  client-tauri/src/components/fields/GenericField.tsx
  client-tauri/src/pages/Dynamic.tsx
  client-tauri/tsconfig.json
  client-tauri/vite.config.ts
  client-vanilla/index.js
  client-vanilla/public/index.html
  server-node/src/routes/api/dynamic-operations-controller.ts
  server-node/src/routes/api/workflow-controller.ts
  shared-operations/declarations/Action.d.ts
  shared-operations/src/functions/index.ts
  shared-operations/src/wasm/pdfcpu/pdfcpu-wrapper.client.js
Due: check-html-tabs

Corrected the reading of the port. See: #834 (#855)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
Due: none

Cleanup to help me debug build errors
  client-tauri/public/browserfs.min.js
  package-lock.json
  server-node/package.json
  server-node/rollup.config.js
  server-node/src/index.ts
  server-node/src/routes/api/dynamic-operations-controller.ts
  server-node/src/routes/api/workflow-controller.ts
  server-node/tsconfig.json
  shared-operations/src/functions/index.ts
  shared-operations/src/i18next.config.ts
  shared-operations/src/wasm/pdfcpu/pdfcpu-wrapper.client.js
  shared-operations/src/wasm/pdfcpu/pdfcpu-wrapper.server.js
  shared-operations/src/workflow/operatorAccessor.ts
  shared-operations/src/workflow/traverseOperations.ts
  shared-operations/tsconfig.json
Due: check-html-tabs

🐛 Fix: `index out of bounds` #861 #842
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
Due: none

Show the user roles as real names
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/Role.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

Update RearrangePagesPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
Due: none

Add error message
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

Update Role.java
  src/main/java/stirling/software/SPDF/model/Role.java
Due: none

🐛 Fix: `index out of bounds` #861 #842 (#863)
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
Due: none

Update messages_it_IT.properties (#858)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

remove obsolet paragraph in OCR FAQ
  HowToUseOCR.md
Due: none

default Language without translation
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_el_GR.properties
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys
