Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Add some translations and add ignored translations (#1501)
  scripts/ignore_translation.toml
  src/main/resources/messages_nl_NL.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Fix: synchronizing the browser settings to the database #1481
  src/main/java/stirling/software/SPDF/model/User.java
Due: none

Rename from translation_status.toml to ignore_translation.toml and more
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  README.md
  Version-groups.md
  scripts/counter_translation.py
  scripts/ignore_translation.toml
  scripts/translation_status.toml
Due: none

Rename from translation_status.toml to ignore_translation.toml and more (#1511)
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  README.md
  Version-groups.md
  scripts/counter_translation.py
  scripts/ignore_translation.toml
  scripts/translation_status.toml
Due: none

Fix: synchronizing the browser settings to the database #1481 (#1510)
  src/main/java/stirling/software/SPDF/model/User.java
Due: none

Update messages_zh_CN.properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update compare.html
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

Update messages_zh_CN.properties (#1513)
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Conform to text requirements
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

Add GB to th:text for label
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

NAme of selected File is displayed again, needs to be styled accordingly
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update README.md (#1518)
  README.md
Due: none

prevents the deletion of productive data
  src/test/java/stirling/software/SPDF/utils/SPdfApplicationTest.java
Due: none

removes empty list entries
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

Fixes the Manifest Syntax error
  src/main/resources/static/css/error.css
  src/main/resources/static/manifest.json
  src/main/resources/static/site.webmanifest
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

standardize the layout
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/licenses.html
Due: check-html-tabs

[Bugfix] Prevents the deletion of productive data (#1522)
  src/test/java/stirling/software/SPDF/utils/SPdfApplicationTest.java
Due: none

removes empty list entries (#1523)
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
Due: none

[Bugfix] the Manifest Syntax error (#1524)
  src/main/resources/static/css/error.css
  src/main/resources/static/manifest.json
  src/main/resources/static/site.webmanifest
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Highlight color selection for the Compare PDFs page. (#1515)
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

standardize the layout (#1525)
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/licenses.html
Due: check-html-tabs

add PreAuthorize
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1526)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
