Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

updating the build files
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
  .github/workflows/test.yml
Due: none

fake scan init, print init and pdf to text for exe
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/PrintFileRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/templates/convert/pdf-to-text.html
  src/main/resources/templates/misc/fake-scan.html
  src/main/resources/templates/misc/print-file.html
Due: check-html-tabs

updating the build files (#1100)
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
  .github/workflows/test.yml
Due: none

Update README.md
  README.md
Due: none

Check `DOCKER_ENABLE_SECURITY` for UI
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Check `DOCKER_ENABLE_SECURITY` for UI (#1103)
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

install custom fonts
  Dockerfile
  README.md
  exampleYmlFiles/docker-compose-latest.yml
  scripts/init-without-ocr.sh
  scripts/init.sh
  scripts/installFonts.sh
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  test.sh
Due: none

German translation for Print Tool (#1104)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update messages_es_ES.properties
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Formats etc
  Dockerfile
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
Due: none

>Updated es_ES (100% completed) (#1106)
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

version bump
  build.gradle
Due: none

disable WIP work
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
  src/main/resources/templates/misc/fake-scan.html
Due: check-html-tabs

remove chinese font
  Dockerfile
Due: none

print (WIP), fake scan (WIP) and text conversion for ultra-lite (#1098)
  Dockerfile
  README.md
  build.gradle
  exampleYmlFiles/docker-compose-latest.yml
  scripts/init-without-ocr.sh
  scripts/init.sh
  scripts/installFonts.sh
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/PrintFileController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/PrintFileRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/templates/convert/pdf-to-text.html
  src/main/resources/templates/misc/fake-scan.html
  src/main/resources/templates/misc/print-file.html
  test.sh
Due: check-html-tabs

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#1115)
  CONTRIBUTING.md
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Bugfix: Login page shows wrong selected country flag/language
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Bugfix: Login page shows wrong selected country flag/language (#1117)
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_en_US.properties
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

PDF to PDF/A language files (#1118)
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys
