Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

logging and try catch
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MetricsFilter.java
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageNums.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none

format
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
Due: none

minor
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
Due: none

Add files via upload
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

Add files via upload
  src/main/resources/static/images/flags/no.svg
Due: none

Update languages.html
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Update UserService.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Update flatten.html
  src/main/resources/templates/misc/flatten.html
Due: check-html-tabs

Small adjustmens to language file
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

tweaks and fix for #1381
  build.gradle
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite.yml
  exampleYmlFiles/docker-compose-latest.yml
  src/main/java/stirling/software/SPDF/controller/api/strippers/PDFTableStripper.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/resources/templates/misc/flatten.html
Due: check-html-tabs

Update README.md
  README.md
Due: none

Update build.gradle
  build.gradle
Due: none

Minor correction
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

Add junit tests for utils classes
  src/test/java/stirling/software/SPDF/utils/ErrorUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/FileToPdfTest.java
  src/test/java/stirling/software/SPDF/utils/ImageProcessingUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/PdfUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/ProcessExecutorTest.java
  src/test/java/stirling/software/SPDF/utils/PropertyConfigsTest.java
  src/test/java/stirling/software/SPDF/utils/RequestUriUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/utils/UrlUtilsTest.java
  src/test/java/stirling/software/SPDF/utils/WebResponseUtilsTest.java
Due: none

Minor corrections in the languages
  README.md
  scripts/translation_status.toml
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

remove settings files update for now
  build.gradle
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
Due: none

Enhance OAuth2 Client Registration with Dynamic Provider Details
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Provider.java
Due: none

Update ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

init
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/application.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

th action
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/crop.html
Due: check-html-tabs

fancy button
  src/main/resources/application.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
