Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Compare feature - add service worker and improve efficiency for large files
  src/main/resources/static/js/compare/diff.js
  src/main/resources/static/js/compare/pdfWorker.js
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

Compare - messages updated to be compatable with language packs
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/compare/pdfWorker.js
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

Add message warning there is no text in uploaded pdf to messages file
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

Feature/298 improve compare performance (#2124)
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/compare/diff.js
  src/main/resources/static/js/compare/pdfWorker.js
  src/main/resources/templates/misc/compare.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

fix
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

formatting
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Fix csrf (#2126)
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/templates/change-creds.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/remove-image-pdf.html
  src/main/resources/templates/security/add-password.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/security/auto-redact.html
  src/main/resources/templates/security/cert-sign.html
  src/main/resources/templates/security/change-permissions.html
  src/main/resources/templates/security/remove-cert-sign.html
  src/main/resources/templates/security/remove-password.html
  src/main/resources/templates/security/remove-watermark.html
  src/main/resources/templates/security/sanitize-pdf.html
Due: check-html-tabs

Save signatures
  .gitignore
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/SignatureController.java
  src/main/java/stirling/software/SPDF/model/SignatureFile.java
  src/main/java/stirling/software/SPDF/service/PostHogService.java
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/sign.css
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/compress-pdf.html
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix code scanning alert no. 42: Uncontrolled data used in path expression
  src/main/java/stirling/software/SPDF/service/SignatureService.java
Due: none

fix UserServiceInterface
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/controller/web/SignatureController.java
Due: none

Merge branch 'feature/saveSigns' of git@github.com:Stirling-Tools/Stirling-PDF.git into feature/saveSigns
  .gitignore
Due: none

Update id_ID Translation and fix some grammars (#2108)
  src/main/resources/messages_id_ID.properties
Due: check-duplicate-properties-keys

0.31.0 bump and further csrf
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/static/js/fetch-utils.js
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/home.html
  src/main/resources/templates/misc/show-javascript.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/security/get-info-on-pdf.html
Due: check-html-tabs

formatting
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/java/stirling/software/SPDF/utils/ImageProcessingUtils.java
Due: none

preview name
  src/main/resources/templates/sign.html
Due: check-html-tabs

add
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

sign doc
  README.md
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

chore(helm): bump chart version according to semver (#2109)
  .github/scripts/gradle_to_chart.py
Due: none

fix: run helm-docs-built after syncing version
  .github/workflows/sync_files.yml
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2135)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Multitool - Select multiple pages for rotation tool
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Update compress-pdf.html
  src/main/resources/templates/misc/compress-pdf.html
Due: check-html-tabs

[bug fix] Update compress-pdf.html (#2138)
  src/main/resources/templates/misc/compress-pdf.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update README.md
  README.md
Due: none

navbar.css: prevent overlapping of elements
  src/main/resources/static/css/navbar.css
Due: check-html-tabs
