Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

changes credit dev-cb in cloudron forum
  src/main/resources/static/css/home.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/css/theme/font.css
  src/main/resources/static/css/theme/theme.css
Due: check-html-tabs

readd hover
  src/main/resources/static/css/home.css
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Update messages_bg_BG.properties
  src/main/resources/messages_bg_BG.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

#1214 Fix unable to create FileMonitor if the root directory does not exist
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
Due: none

feat: Force UTF-8 encoding of input characters
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
Due: none

sequelize, storage for userdata
  .gitignore
  package-lock.json
  server-node/.env
  server-node/package.json
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/auth/user/user-model.ts
  server-node/src/data/sequelize-relations.ts
  server-node/src/index.ts
  server-node/src/routes/auth/logout-controller.ts
  server-node/src/routes/auth/register-controller.ts
  server-node/vite.config.ts
Due: none

Environment Config
  server-node/.env
  server-node/src/auth/auth-controller.ts.ts
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/data/sequelize-relations.ts
  server-node/src/index.ts
  server-node/src/jobs/jobs-controller.ts
Due: none

Update README.md
  README.md
Due: none

enforced authentication for APIs, vite .env configuration for auth & jobs
  server-node/.env
  server-node/declarations/ProcessEnv.d.ts
  server-node/src/auth/auth-controller.ts.ts
  server-node/src/data/sequelize-relations.ts
  server-node/src/index.ts
  server-node/src/jobs/jobs-controller.ts
  server-node/src/routes/api/api-controller.ts
  server-node/src/routes/api/dynamic-operations-controller.ts
Due: none

password hashing
  server-node/src/auth/auth-controller.ts
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/auth/user/user-model.ts
  server-node/src/data/sequelize-relations.ts
  server-node/src/index.ts
Due: none

better typing, authorization middleware, test for creating apikeys
  server-node/declarations/ExpressUser.d.ts
  server-node/src/auth/checkAuthorizedMiddleware.ts
  server-node/src/routes/api/api-controller.ts
  server-node/src/routes/auth/auth-controller.ts
  server-node/src/routes/auth/create-api-key-controller.ts
  server-node/src/routes/auth/status-controller.ts
Due: none

fi: type correction around google OAUTH2 provider
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

Fix: Can't select the Draw tool in View #1328
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

add properties Docker
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
Due: none

Update languages.html
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Create hr.svg
  src/main/resources/static/images/flags/hr.svg
Due: none

Add files via upload
  src/main/resources/static/images/flags/hr.svg
Due: none

Update and rename messages_en_GB.properties to messages_hr_HR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_hr_HR.properties
Due: check-duplicate-properties-keys

add remove digital signature
  Endpoint-groups.md
  Version-groups.md
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RemoveCertSignController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/remove-cert-sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Update view-pdf.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
