Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update messages_it_IT.properties (#891)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

number fixes init
  build.gradle
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageNums.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/utils/GeneralUtilsTest.java
Due: none

|| true test
  scripts/download-security-jar.sh
  scripts/init-without-ocr.sh
  scripts/init.sh
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

version bump
  build.gradle
Due: none

Number fxes (#898)
  build.gradle
  scripts/download-security-jar.sh
  scripts/init-without-ocr.sh
  scripts/init.sh
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageNums.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/utils/GeneralUtilsTest.java
Due: none

Performance changes
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

change for #710
  src/main/resources/messages.properties
  src/main/resources/templates/convert/file-to-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

compress fixes
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  test2.sh
Due: none

chore: fix some typos
  HowToUseOCR.md
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertBookToPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToBookController.java
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Enforcing Username Uniqueness
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

trim name #901
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
Due: none

chore: fix some typos (#900)
  HowToUseOCR.md
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertBookToPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToBookController.java
Due: none

remove try to throw error to browser
  src/main/java/stirling/software/SPDF/controller/api/security/SanitizeController.java
Due: none

logs to aid debuging
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none

format
  src/main/java/stirling/software/SPDF/controller/api/security/SanitizeController.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none

JPAs auto
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

Update Chart.yaml
  chart/stirling-pdf/Chart.yaml
Due: none

Number of fixes and making pipline LIVE ! (#907)
  build.gradle
  chart/stirling-pdf/Chart.yaml
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FakeScanControllerWIP.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/api/security/SanitizeController.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/messages.properties
  src/main/resources/templates/convert/file-to-pdf.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  test2.sh
Due: check-duplicate-properties-keys, check-html-tabs

dep bumps and nonroot bypass
  build.gradle
  scripts/init-without-ocr.sh
  scripts/init.sh
Due: none

log changing
  scripts/init-without-ocr.sh
  scripts/init.sh
Due: none

Enforcing Username Uniqueness (#906)
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

dep bumps and nonroot bypass (#910)
  build.gradle
  scripts/init-without-ocr.sh
  scripts/init.sh
Due: none

Update messages_de_DE.properties (#903)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

🔨 add Developer tools/scripts (#828)
  .github/scripts/check_duplicates.py
  .github/scripts/check_tabulator.py
  .github/scripts/gradle_to_chart.py
  .github/workflows/build.yml
  .github/workflows/push-docker.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_versions.yml
  .pre-commit-config.yaml
Due: none

Update licenses-update.yml
  .github/workflows/licenses-update.yml
Due: none

Update licenses-update.yml (#911)
  .github/workflows/licenses-update.yml
Due: none

Update build.gradle
  build.gradle
Due: none

Update build.gradle (#912)
  build.gradle
Due: none
