Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

fr messages: "Menu Pipeline (Beta)" to be consistent with en_US message
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: Multi tools = Outils Multiples
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fr messages: improvement
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: if all pages are merged, it is "fusionner LES pages"
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: View & Edit = Voir et modifier
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: "Mangues" is a better translation for "Languages" (English, French, etc.)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fr messages: more translations (were in english)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix fr messages: be more consistent with uppercase 1st letter
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fr messages: better translation for "bored"
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

fix fr messages: fix a typo "Redimensionner"
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Added zoom Functionality using buttons to the sign Page
  src/main/resources/static/css/sign.css
  src/main/resources/templates/sign.html
Due: check-html-tabs

changes
  build.gradle
  cucumber/exampleFiles/example.docx
  cucumber/exampleFiles/example.odp
  cucumber/exampleFiles/example.odt
  cucumber/exampleFiles/example.pptx
  cucumber/exampleFiles/example.rtf
  cucumber/features/examples.feature
  cucumber/features/external.feature
  cucumber/features/general.feature
  cucumber/features/steps/step_definitions.py
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  src/main/java/stirling/software/SPDF/controller/api/PdfOverlayController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPDF.java
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/templates/misc/ocr-pdf.html
Due: check-html-tabs

deletion changes
  .github/workflows/build.yml
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertOfficeController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
Due: none

cuke
  cucumber/features/external.feature
  cucumber/features/general.feature
  cucumber/features/steps/step_definitions.py
Due: none

gradle bump
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Fixed issue that it is not possible to scroll over the whole page
  src/main/resources/templates/sign.html
Due: check-html-tabs

passport user auth with session, bearer api-key
  package-lock.json
  server-node/package.json
  server-node/src/auth/passport-config.ts
  server-node/src/auth/user/user-controller.ts
  server-node/src/index.ts
Due: none

tryping
  server-node/declarations/ExpressUser.d.ts
  server-node/src/auth/passport-config.ts
Due: none

gha
  .github/workflows/test.yml
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  test.sh
Due: none

Update requirements.txt
  cucumber/requirements.txt
Due: none

add invalid Id Token message
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/flatten.html
Due: check-duplicate-properties-keys, check-html-tabs

x coordinate placement, as well as size is now correct after zooming. Y axis placement is still too High.
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs
