Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix: Conditional Attribute Binding for the multiple Attribute in the File Selector Fragment (#1665)
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Routing for operators, Styling for main page
  client-tauri/package.json
  client-tauri/src/App.tsx
  client-tauri/src/components/NavBar.tsx
  client-tauri/src/components/OperatorCard.module.css
  client-tauri/src/components/OperatorCard.tsx
  client-tauri/src/components/fields/BuildFields.tsx
  client-tauri/src/pages/Home.tsx
  client-tauri/src/pages/NoMatch.tsx
  client-tauri/src/pages/Operators.tsx
  client-tauri/src/pages/home.module.css
  client-tauri/src/root.css
  package-lock.json
Due: check-html-tabs

Styled operator pages
  client-tauri/package.json
  client-tauri/src/components/BuildForm.module.css
  client-tauri/src/components/BuildForm.tsx
  client-tauri/src/components/OperatorCard.tsx
  client-tauri/src/components/fields/BuildFields.tsx
  client-tauri/src/components/fields/InputField.module.css
  client-tauri/src/components/fields/InputField.tsx
  client-tauri/src/main.tsx
  client-tauri/src/pages/Operators.tsx
  client-tauri/src/root.css
  package-lock.json
  shared-operations/package.json
  shared-operations/src/functions/arrangePages.schema.ts
  shared-operations/src/functions/index.ts
Due: check-html-tabs

Fixed Tauri-Build (now using absolute paths again)
  client-tauri/package.json
  client-tauri/src/App.tsx
  client-tauri/src/components/OperatorCard.tsx
  client-tauri/src/components/toolbar/LanguagePicker.tsx
  client-tauri/src/pages/Home.tsx
  client-tauri/src/pages/Operators.tsx
  client-tauri/vite.config.ts
  shared-operations/src/functions/index.ts
Due: none

add swagger param
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebpPDFController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToWebPRequest.java
Due: none

back
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToImageRequest.java
Due: none

Updated brazilian portuguese translation
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

redesign footer
  src/main/resources/static/css/footer.css
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

remove about test
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

redesign footer (#1674)
  src/main/resources/static/css/footer.css
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

Updated brazilian portuguese translation (#1673)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

tessdata available to local Windows users
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

feature:split pdf by chapters
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/model/api/SplitPdfByChaptersRequest.java
Due: none

tessdata available to local Windows users (#1677)
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Due: none

Update messages_it_IT.properties - remove image in home (#1661)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update licenses-update.yml
  .github/workflows/licenses-update.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Delete .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Update auto-labeler.yml
  .github/workflows/auto-labeler.yml
Due: none

Update labeler-config.yml
  .github/labeler-config.yml
Due: none

PR changes (#1693)
  .github/labeler-config.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/test.yml
Due: none

Update LibreOfficeListener.java
  src/main/java/stirling/software/SPDF/LibreOfficeListener.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
