Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

removes duplicate dependencies
  build.gradle
Due: none

Validates the file name
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
Due: none

removes duplicate dependencies (#1792)
  build.gradle
Due: none

Validates the file name (#1793)
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
Due: none

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

last commit
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Describe your changes here
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

commit
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Modified background color
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/static/css/login.css
Due: check-html-tabs

Modified HomePage Title
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

final touches
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite.yml
  exampleYmlFiles/docker-compose-latest.yml
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/AppUpdateService.java
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/java/stirling/software/SPDF/config/security/AppUpdateAuthService.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2UserService.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/fragments/common.html
  src/test/java/stirling/software/SPDF/utils/PdfUtilsTest.java
Due: check-html-tabs

Modified background color
  src/main/resources/static/css/login.css
Due: check-html-tabs

Modified Background Color
  src/main/resources/static/css/login.css
Due: check-html-tabs

Change Background Color
  src/main/resources/static/css/login.css
Due: check-html-tabs

Update build.yml
  .github/workflows/build.yml
Due: none

Add Deployment File
  exampleYmlFiles/docker-compose-staging.yml
Due: none

Feature: Split PDFs by Chapters/Bookmarks (#1786)
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/model/api/SplitPdfByChaptersRequest.java
Due: none

add `scalePages.keepPageSize` i18n key (#1798)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

add KEEP option to frontend (#1798)
  src/main/resources/templates/scale-pages.html
Due: check-html-tabs

extract ScalePagesController.getTargetSize() (#1798)
  src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
Due: none

Update messages_hi_IN.properties
  src/main/resources/messages_hi_IN.properties
Due: check-duplicate-properties-keys

make ScalePageController honor `pageSize` value `KEEP`
  src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
  src/main/java/stirling/software/SPDF/model/api/PDFWithPageSize.java
Due: none

replaced yaml mapper
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

settings.yml
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MemoryConfig.java
  src/main/java/stirling/software/SPDF/config/memoryConfig.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/resources/settings.yml.template
Due: none

commit
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MemoryConfig.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/utils/memoryUtils.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

commit l
  src/main/resources/settings.yml
Due: none

removed unused variables
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

automatically included ones
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

memory settings
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Added more features or fixed issues
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Add info translation (#1791)
  .github/pull_request_template.md
  HowToAddNewLanguage.md
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
