Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

#1160 update rhefs (#1169)
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update ProcessExecutor.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none

Update application.properties
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Made it possible to add files via the selector "File by File".
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

minor spelling fix
  README.md
Due: none

Added support for non-root and nix package manager for local installation. Fixed a bad small line break issue.
  LocalRunGuide.md
Due: none

Small typo in apt-get update.
  LocalRunGuide.md
Due: none

Added the export command before running.
  LocalRunGuide.md
Due: none

Fixed the bad working regarding language packs. Explained the dbus variable change before running the jar file.
  LocalRunGuide.md
Due: none

Update: fix error page theme
  src/main/resources/static/css/error.css
  src/main/resources/static/css/errorBanner.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/error.html
  src/main/resources/templates/fragments/errorBanner.html
Due: check-html-tabs

Update: fix dropdown text wrap
  src/main/resources/static/css/navbar.css
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update: open dropdown on hover
  src/main/resources/static/css/navbar.css
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update messages_bg_BG.properties
  src/main/resources/messages_bg_BG.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update: change update icon + animation
  src/main/resources/static/css/home.css
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/home.html
Due: check-html-tabs

A duplicate Warning is displayed if the same file is added twice to the merging process
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Update: fix dropdown hover + icon titles on mobile
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/css/navbar.css
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
