Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

checking custom files
  configs/settings.yml
  customFiles/static/apple-touch-icon.png
  customFiles/static/css/theme/theme.dark.css
  customFiles/static/css/theme/theme.light.css
  customFiles/static/favicon-16x16.png
  customFiles/static/favicon.ico
  customFiles/templates/fragments/footer.html_backup
Due: check-html-tabs

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

Update multi-tool.html
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

fix: helm repo url
  chart/stirling-pdf/README.md.gotmpl
Due: none

feat: add helm chart github action (#2113)
  .github/workflows/lint-helm-charts.yml
  .github/workflows/release-helm-charts.yml
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/README.md.gotmpl
  chart/stirling-pdf/values.yaml
  cr.yaml
Due: none

feat(helm): support dual stack clusters
  chart/stirling-pdf/Chart.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/templates/service.yaml
  chart/stirling-pdf/values.yaml
Due: none

Update common.html
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

feat(helm): support extra env from
  chart/stirling-pdf/Chart.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/templates/deployment.yaml
  chart/stirling-pdf/values.yaml
Due: none

chore(ci): fix helm lint check
  .github/workflows/lint-helm-charts.yml
Due: none

fix: replace pre-commit in CI with docker image
  .github/workflows/lint-helm-charts.yml
  .github/workflows/sync_files.yml
Due: none

Update errorBanner.html
  customFiles/templates/fragments/errorBanner.html
Due: check-html-tabs

Update errorBannerPerPage.html
  customFiles/templates/fragments/errorBannerPerPage.html
Due: check-html-tabs

Update errorBanner.html
  src/main/resources/templates/fragments/errorBanner.html
Due: check-html-tabs

fix remmeber me
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/repository/JPATokenRepositoryImpl.java
  src/main/java/stirling/software/SPDF/repository/PersistentLoginRepository.java
  src/main/resources/templates/login.html
Due: check-html-tabs

remove uselss comment
  src/main/java/stirling/software/SPDF/repository/JPATokenRepositoryImpl.java
Due: none

Update translation files
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
Due: check-duplicate-properties-keys

fix remmeber me (#2184)
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/repository/JPATokenRepositoryImpl.java
  src/main/java/stirling/software/SPDF/repository/PersistentLoginRepository.java
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/templates/login.html
Due: check-duplicate-properties-keys, check-html-tabs

Multitool multi select select all and UI improvements
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

check if custom temaplates
  customFiles/templates/error.html
  customFiles/templates/fragments/errorBanner.html
  customFiles/templates/fragments/errorBannerPerPage.html
  customFiles/templates/fragments/footer.html
  src/main/resources/templates/error.html
  src/main/resources/templates/fragments/errorBanner.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
Due: check-html-tabs

Update home.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Added input sanitization to fix self-xss issue
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Added input sanitization to fix self-xss issue (#2189)
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Update and improve zh_TW Traditional Chinese locale (#2188)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update 'ProcessExecutor.java' to use dynamic process limits from properties
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Multi tool multi select, download selected, clean up and bug fixes
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Move limits location out of 'application.properties'
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Rename 'SemaphoreLimit' to 'SessionLimit' and bundle with 'Timeout...' into one parent class
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/settings.yml.template
Due: none

[Feature] Set Executor Instances limits dynamically from properties (#2193)
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
