Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update translation files
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
Due: check-duplicate-properties-keys

Completed translations for 19 languages using AI (#2164)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
Due: check-duplicate-properties-keys

Corrects AI generated translation
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Corrects AI generated translation (#2166)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Fix: Navbar layout overflow (#2162)
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

adcb customisations
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/errorBanner.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/languages.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

replace logo
  docs/stirling-pdf.png
  docs/stirling-transparent.svg
  docs/stirling.png
  docs/stirling.svg
Due: none

Fixing issue #2112 (Terms and conditions URL hard-coded in settings.yml)
  exampleYmlFiles/docker-compose-latest.yml
Due: none

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

Update footer.html
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

remove icons
  src/main/resources/static/android-chrome-192x192.png
  src/main/resources/static/android-chrome-512x512.png
  src/main/resources/static/apple-touch-icon.png
  src/main/resources/static/favicon-16x16.png
  src/main/resources/static/favicon-32x32.png
  src/main/resources/static/favicon.ico
  src/main/resources/static/favicon.png
  src/main/resources/static/favicon.svg
  src/main/resources/static/mstile-144x144.png
  src/main/resources/static/mstile-150x150.png
  src/main/resources/static/mstile-310x150.png
  src/main/resources/static/mstile-310x310.png
  src/main/resources/static/mstile-70x70.png
Due: none

Update README.md
  README.md
Due: none

add custom files
  .gitignore
  configs/custom_settings.yml
  configs/settings.yml
  configs/settings_back.yml
  customFiles/static/apple-touch-icon.png
  customFiles/static/css/bootstrap.min.css
  customFiles/static/css/custom.css
  customFiles/static/css/theme/theme.light.css
  customFiles/static/favicon-16x16.png
  customFiles/static/favicon.ico
  customFiles/static/favicon.svg
  customFiles/static/images/discord.svg
  customFiles/static/images/docker.svg
  customFiles/static/images/gear.svg
  customFiles/static/images/github.svg
  customFiles/static/images/search.svg
  customFiles/static/images/suit-heart-fill.svg
  customFiles/templates/fragments/footer.html_backup
Due: check-html-tabs

Update navbar.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

adapt colour
  customFiles/static/css/theme/theme.dark.css
  customFiles/static/css/theme/theme.light.css
Due: check-html-tabs

activate all features
  configs/settings.yml
Due: none

push
  src/main/resources/static/favicon.ico
Due: none

push
  .github/workflows/push-docker.yml
Due: none

Update banner.txt
  src/main/resources/banner.txt
Due: none

checking custom files
  configs/settings.yml
  configs/settings.yml_14102024
  customFiles/static/apple-touch-icon.png
  customFiles/static/css/theme/theme.dark.css
  customFiles/static/css/theme/theme.light.css
  customFiles/static/favicon-16x16.png
  customFiles/static/favicon.ico
  customFiles/templates/error.html
  customFiles/templates/fragments/errorBanner.html
  customFiles/templates/fragments/errorBannerPerPage.html
  customFiles/templates/fragments/footer.html
Due: check-html-tabs

Update 3rdPartyLicenses.json
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update theme
  customFiles/static/css/theme/theme.dark.css
  customFiles/static/css/theme/theme.light.css
Due: check-html-tabs

add custom files
  configs/settings.yml
  customFiles/static/apple-touch-icon.png
  customFiles/static/css/theme/theme.light.css
  customFiles/static/favicon-16x16.png
  customFiles/static/favicon.ico
  customFiles/templates/fragments/footer.html_backup
Due: check-html-tabs

add AI format
  src/main/resources/static/pdfjs-legacy/example/Welcome.pdf
  src/main/resources/static/pdfjs-legacy/example/Welcome_old.pdf
Due: none

update pdf
  src/main/resources/static/pdfjs/example/Welcome.pdf
  src/main/resources/static/pdfjs/example/Welcome_old.pdf
Due: none
