Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Dev-Tool test
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Fix: Convert a single string in the array to a list array
  .github/scripts/check_language_properties.py
Due: none

Multi select drag and drop finalised
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/dragdrop.css
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/DragDropManager.js
  src/main/resources/static/js/multitool/MultiPageDragDropManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix: Convert a single string in the array to a list array (#2293)
  .github/scripts/check_language_properties.py
Due: none

Turn off select mode after multidrag
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Update messages_it_IT.properties (#2289)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_az_AZ.properties
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Translation az (#2287)
  README.md
  scripts/ignore_translation.toml
  src/main/resources/messages_az_AZ.properties
  src/main/resources/static/images/flags/az.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Update gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Due: none

Bored waiting button doesnt remove itself after processing (#2079) (#2235)
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update build.gradle
  build.gradle
Due: none

Modifying the functionality of how the signature is added to all pages (#2008)
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Translation for #compress
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for #Change permissions
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for #remove password
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Posthog functionality
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Translation for #pdfToPDFA
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for #changeMetadata
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Posthog in multitool
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Translation for #merge
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for #split-pdfs
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Adding the functionality to reverse the addition on all pages and implementing buttons to navigate to the first and last pages (#2008)
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs
