Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Security fix: Server-Side Request Forgery
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Update GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Windows UI .exe
  .github/workflows/releaseArtifacts.yml
  .gitignore
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/UI/WebBrowser.java
  src/main/java/stirling/software/SPDF/UI/impl/DesktopBrowser.java
  src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Due: none

headless
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

prop fixes
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

gha fix
  .github/workflows/releaseArtifacts.yml
Due: none

fix gha release
  .github/workflows/releaseArtifacts.yml
Due: none

fixes
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
Due: none

fixes
  build.gradle
Due: none

fix: Dockerfile-ultra-lite to reduce vulnerabilities
  Dockerfile-ultra-lite
Due: none

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Fix collapsed menu after reload on state closed
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

CSRF token for decryption
  src/main/resources/static/js/DecryptFiles.js
Due: check-html-tabs

add and refactor CN translate
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

more testing
  .github/workflows/multiOSReleases.yml
  build.gradle
  src/main/resources/static/favicon.icns
Due: none

build
  .github/workflows/multiOSReleases.yml
Due: none

info
  .github/workflows/multiOSReleases.yml
Due: none

remove mac 18+
  build.gradle
Due: none

versioning
  build.gradle
Due: none

unix name
  build.gradle
Due: none
