Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

[Feature] Set Executor Instances limits dynamically from properties (#2193)
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

exe no longer disable CLI
  build.gradle
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  src/main/resources/static/js/search.js
Due: check-html-tabs

Searchbar in nav auto select, and exe nolonger disable CLI (#2197)
  build.gradle
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  src/main/resources/static/js/search.js
Due: check-html-tabs

Groundwork for multiselect drag and drop
  src/main/resources/static/js/multitool/MultiPageDragDropManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Comments
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Add option to insert blank page between pages in Multi-tool (#2194)
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Add option to insert blank page between pages in Multi-tool (#2194) (#2201)
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

欢迎界面提示
  src/main/resources/static/css/welcome-message.css
  src/main/resources/templates/home.html
Due: check-html-tabs

fixes the bug if the card has no favorite icon
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Fix: Card has no favorite icon (#2203)
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Rename lint-helm-charts.yml to lint-helm-charts.yml-disabled
  .github/workflows/lint-helm-charts.yml-disabled
Due: none

Rename release-helm-charts.yml to release-helm-charts.yml-disabled
  .github/workflows/release-helm-charts.yml-disabled
Due: none

Update build.gradle
  build.gradle
Due: none

Fix missing opener for View PDF #2206
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Fix: missing opener for View PDF #2206 (#2207)
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

feat: remove helm chart
  .github/scripts/gradle_to_chart.py
  .github/workflows/lint-helm-charts.yml-disabled
  .github/workflows/release-helm-charts.yml-disabled
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  chart/stirling-pdf/Chart.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/README.md.gotmpl
  chart/stirling-pdf/templates/NOTES.txt
  chart/stirling-pdf/templates/_helpers.tpl
  chart/stirling-pdf/templates/deployment.yaml
  chart/stirling-pdf/templates/ingress.yaml
  chart/stirling-pdf/templates/pv.yaml
  chart/stirling-pdf/templates/pvc.yaml
  chart/stirling-pdf/templates/service.yaml
  chart/stirling-pdf/templates/serviceaccount.yaml
  chart/stirling-pdf/templates/servicemonitor.yaml
  chart/stirling-pdf/values.yaml
  cr.yaml
Due: none

feat: mention kubernetes in install doc
  README.md
Due: none

feat: move helm chart to https://github.com/Stirling-Tools/Stirling-PDF-chart (#2208)
  .github/scripts/gradle_to_chart.py
  .github/workflows/lint-helm-charts.yml-disabled
  .github/workflows/release-helm-charts.yml-disabled
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  README.md
  chart/stirling-pdf/Chart.yaml
  chart/stirling-pdf/README.md
  chart/stirling-pdf/README.md.gotmpl
  chart/stirling-pdf/templates/NOTES.txt
  chart/stirling-pdf/templates/_helpers.tpl
  chart/stirling-pdf/templates/deployment.yaml
  chart/stirling-pdf/templates/ingress.yaml
  chart/stirling-pdf/templates/pv.yaml
  chart/stirling-pdf/templates/pvc.yaml
  chart/stirling-pdf/templates/service.yaml
  chart/stirling-pdf/templates/serviceaccount.yaml
  chart/stirling-pdf/templates/servicemonitor.yaml
  chart/stirling-pdf/values.yaml
  cr.yaml
Due: none

Update messages_ca_CA.properties
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

Fix: Reading the username based on the login method.
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Update Version-groups.md
  Version-groups.md
Due: none

Fix: Reading the username based on the login method. (#2211)
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Update buttons for page selection
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/theme/font.css
  src/main/resources/static/fonts/MaterialIcons-Regular.woff2
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Update pipeline.html
  src/main/resources/templates/pipeline.html
Due: check-html-tabs

Update compress-pdf.html
  src/main/resources/templates/misc/compress-pdf.html
Due: check-html-tabs
