Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Frooodle patch 2 (#913)
  .github/workflows/licenses-update.yml
  build.gradle
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Fix typo in example yaml file
  exampleYmlFiles/docker-compose-latest-security.yml
Due: none

Fix typo in example yaml file (#922)
  exampleYmlFiles/docker-compose-latest-security.yml
Due: none

lang, save to browser
  FolderScanning.md
  PipelineFeature.md
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/pipeline.html
Due: check-duplicate-properties-keys, check-html-tabs

lang, save to browser (#923)
  FolderScanning.md
  PipelineFeature.md
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/pipeline.js
  src/main/resources/templates/pipeline.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix exception url after logout
  src/main/resources/static/js/languageSelection.js
  src/main/resources/templates/login.html
Due: check-html-tabs

Fix: Error after logging out and selecting another language (#924)
  src/main/resources/static/js/languageSelection.js
  src/main/resources/templates/login.html
Due: check-html-tabs

unicode to readable font
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

changes characters in multiple languages - Unicode ascii (#925)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#927)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update scale-pages.html
  src/main/resources/templates/scale-pages.html
Due: check-html-tabs

Update sign.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update common.html
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update login.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Update view-pdf.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_versions.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Update Chart.yaml
  chart/stirling-pdf/Chart.yaml
Due: none
