Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

auto decrypt, update discord, fix multi file support for some inputs
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  src/main/java/stirling/software/SPDF/controller/api/security/PasswordController.java
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/error.html
  src/main/resources/templates/fragments/errorBanner.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/security/auto-redact.html
Due: check-html-tabs

Update PasswordController.java
  src/main/java/stirling/software/SPDF/controller/api/security/PasswordController.java
Due: none

Added a message for num of files selected
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

fixed that Num of files message is not updating
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

feat: add paging seal
  src/main/java/stirling/software/SPDF/controller/api/misc/PagingSealController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/PagingSealRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/paging-seal.html
Due: check-duplicate-properties-keys, check-html-tabs

update: set the max firstPageSealRate to 0.9
  src/main/resources/templates/misc/paging-seal.html
Due: check-html-tabs

Bug Fix, text unreadable when hovering over button
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Bug Fix, issue that the wrong input form is updated when there are two or more input forms on the screen
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Added Comments and deleted unecessary code and logs
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

doc: update the method description
  src/main/java/stirling/software/SPDF/controller/api/misc/PagingSealController.java
Due: none

Minor Change so the pipeline input form is not affected by changes
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Add missing Turkish translation
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

version bump, multi file fix and disable survey
  build.gradle
  chart/stirling-pdf/Chart.yaml
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/home.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

Added support for Thai language
  exampleYmlFiles/docker-compose-latest.yml
  src/main/resources/messages_th_TH.properties
  src/main/resources/static/images/flags/th.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Correct Thai national flag proportions in SVG
  src/main/resources/static/images/flags/th.svg
Due: none

Remove th_TH from env.LANGS
  exampleYmlFiles/docker-compose-latest.yml
Due: none

fix incorrect syntax
  exampleYmlFiles/docker-compose-latest.yml
Due: none

Added support for Thai language (#1551)
  src/main/resources/messages_th_TH.properties
  src/main/resources/static/images/flags/th.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

:memo: Sync README > Made via sync_files.yml
  scripts/ignore_translation.toml
Due: none

adds Thai to the languages ​​table
  README.md
  scripts/ignore_translation.toml
Due: none

adds Thai to the languages ​​table (#1555)
  README.md
  scripts/ignore_translation.toml
Due: none

split schema and logic of operator
  server-node/tsconfig.json
  shared-operations/src/compiletime/operatorDescription.ts
  shared-operations/src/functions/impose.schema.ts
  shared-operations/src/functions/impose.ts
  shared-operations/src/functions/index.ts
  shared-operations/src/workflow/operatorAccessor.ts
  shared-operations/src/workflow/validateOperations.ts
  shared-operations/src/wrappers/PdfFile.ts
Due: none

split all operators
  shared-operations/src/compiletime/operatorDescription.ts
  shared-operations/src/functions/arrangePages.schema.ts
  shared-operations/src/functions/arrangePages.ts
  shared-operations/src/functions/extractPages.schema.ts
  shared-operations/src/functions/extractPages.ts
  shared-operations/src/functions/impose.ts
  shared-operations/src/functions/merge.schema.ts
  shared-operations/src/functions/merge.ts
  shared-operations/src/functions/removeBlankPages.schema.ts
  shared-operations/src/functions/removeBlankPages.ts
  shared-operations/src/functions/removePages.schema.ts
  shared-operations/src/functions/removePages.ts
  shared-operations/src/functions/rotatePages.schema.ts
  shared-operations/src/functions/rotatePages.ts
  shared-operations/src/functions/scaleContent.schema.ts
  shared-operations/src/functions/scaleContent.ts
  shared-operations/src/functions/scalePage.schema.ts
  shared-operations/src/functions/scalePage.ts
  shared-operations/src/functions/splitPagesByPreset.schema.ts
  shared-operations/src/functions/splitPagesByPreset.ts
  shared-operations/src/functions/splitPdfByIndex.schema.ts
  shared-operations/src/functions/splitPdfByIndex.ts
  shared-operations/src/functions/updateMetadata.schema.ts
  shared-operations/src/functions/updateMetadata.ts
  shared-operations/src/workflow/operatorAccessor.ts
  shared-operations/src/workflow/organizeWaitOperations.ts
  shared-operations/src/workflow/validateOperations.ts
Due: none

update frontend to use split operators
  client-tauri/src/pages/Dynamic.tsx
  server-node/src/routes/api/dynamic-operations-controller.ts
  shared-operations/src/workflow/operatorAccessor.ts
Due: none

en locales
  client-tauri/src/components/fields/GenericField.tsx
  shared-operations/public/locales/arrangePages/en.json
  shared-operations/public/locales/removeBlankPages/en.json
  shared-operations/public/locales/removePages/en.json
  shared-operations/public/locales/rotatePages/en.json
  shared-operations/public/locales/scaleContent/en.json
  shared-operations/public/locales/scalePage/en.json
  shared-operations/public/locales/splitPagesByPreset/en.json
  shared-operations/public/locales/splitPdfByIndex/en.json
  shared-operations/public/locales/updateMetadata/en.json
  shared-operations/src/functions/splitPagesByPreset.ts
  shared-operations/src/functions/splitPdfByIndex.ts
  shared-operations/src/functions/updateMetadata.ts
Due: none

Adding declaration as repository component & changing primary key type
  src/main/java/stirling/software/SPDF/repository/AuthorityRepository.java
  src/main/java/stirling/software/SPDF/repository/PersistentLoginRepository.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

Update AuthorityRepository.java
  src/main/java/stirling/software/SPDF/repository/AuthorityRepository.java
Due: none

Update PersistentLoginRepository.java
  src/main/java/stirling/software/SPDF/repository/PersistentLoginRepository.java
Due: none

Add: Label manager
  .github/labels.yml
  .github/workflows/manage-label.yml
Due: none

example test stuff
  cucumber/exampleFiles/ghost1.pdf
  cucumber/exampleFiles/ghost2.pdf
  cucumber/exampleFiles/ghost3.pdf
  cucumber/exampleFiles/images.pdf
  cucumber/exampleFiles/pdfa1.pdf
  cucumber/exampleFiles/pdfa2.pdf
  cucumber/features/environment.py
  cucumber/features/examples.feature
  cucumber/features/external.feature
  cucumber/features/general.feature
  cucumber/features/steps/step_definitions.py
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
Due: none

logs
  test.sh
Due: none

Update docker-compose-latest.yml
  exampleYmlFiles/docker-compose-latest.yml
Due: none

version bump, multi file fix and disable survey (#1550)
  build.gradle
  chart/stirling-pdf/Chart.yaml
  cucumber/exampleFiles/ghost1.pdf
  cucumber/exampleFiles/ghost2.pdf
  cucumber/exampleFiles/ghost3.pdf
  cucumber/exampleFiles/images.pdf
  cucumber/exampleFiles/pdfa1.pdf
  cucumber/exampleFiles/pdfa2.pdf
  cucumber/features/environment.py
  cucumber/features/examples.feature
  cucumber/features/external.feature
  cucumber/features/general.feature
  cucumber/features/steps/step_definitions.py
  exampleYmlFiles/docker-compose-latest.yml
  src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/home.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
  test.sh
Due: check-html-tabs

Remove calibre for now
  Dockerfile-fat
Due: none

Update init-without-ocr.sh
  scripts/init-without-ocr.sh
Due: none
