Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1454)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Fixed a spelling mistake in French
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties (#1457)
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Fixed a spelling mistake in French (#1459)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Improve the PDF rendering process for pages of varying sizes
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Refactor image preparation for Pdf to Image
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

PDF-to-Image different page formats fix (#1460)
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Change: method write and read `settings.yml` #1441
  build.gradle
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/resources/settings.yml.template
Due: none

Change: method write and read `settings.yml` #1441 (#1463)
  build.gradle
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/resources/settings.yml.template
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Updating build.gradle libraries
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/UserBasedRateLimitingFilter.java
Due: none

Updating build.gradle libraries (#1465)
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/UserBasedRateLimitingFilter.java
Due: none

Add: missing string pdfOrganiser.mode.10
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Add: missing string pdfOrganiser.mode.10 (#1468)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

added: Differentiate login methods and more
  README.md
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/provider/GithubProvider.java
  src/main/java/stirling/software/SPDF/model/provider/GoogleProvider.java
  src/main/java/stirling/software/SPDF/model/provider/KeycloakProvider.java
  src/main/java/stirling/software/SPDF/model/provider/UnsupportedProviderException.java
  src/main/resources/templates/login.html
Due: check-html-tabs

added: Differentiate login methods and more (#1471)
  README.md
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2LogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/provider/GithubProvider.java
  src/main/java/stirling/software/SPDF/model/provider/GoogleProvider.java
  src/main/java/stirling/software/SPDF/model/provider/KeycloakProvider.java
  src/main/java/stirling/software/SPDF/model/provider/UnsupportedProviderException.java
  src/main/resources/templates/login.html
Due: check-html-tabs

Update messages_it_IT.properties (#1472)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys
