Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

zip
  .gitignore
  cucumber/exampleFiles/example_html.zip
Due: none

test
  Dockerfile-fat
Due: none

remove calibre
  Dockerfile-fat
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  scripts/init-without-ocr.sh
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertBookToPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToBookController.java
  test.sh
Due: none

fixes
  src/main/java/stirling/software/SPDF/service/CustomPDDocumentFactory.java
  src/main/java/stirling/software/SPDF/utils/CustomHtmlSanitizer.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
Due: none

decreased dropdown height
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Fixed layering issue with z-index, and added smoother transitions for signing
  package-lock.json
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

remove pattern matching for now
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/service/CustomPDDocumentFactory.java
Due: none

csrf fix #1997
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Add tests via TestDriverAI (#1957)
  .github/workflows/testdriver.yml
  testdriver/test.yml
Due: none

Update home.html
  src/main/resources/templates/home.html
Due: check-html-tabs

commit
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2020)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create DeveloperGuide.md
  DeveloperGuide.md
Due: none

Update DeveloperGuide.md
  DeveloperGuide.md
Due: none

Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update and improve zh_TW Traditional Chinese locale (#2030)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_pt_BR.properties (#2029)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2022)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys
