Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Closes #2227
  src/main/resources/templates/convert/pdf-to-csv.html
Due: check-html-tabs

update desc
  src/main/resources/templates/sign.html
  src/main/resources/templates/split-by-size-or-count.html
  src/main/resources/templates/split-pdf-by-chapters.html
  src/main/resources/templates/split-pdf-by-sections.html
Due: check-html-tabs

add blankPage
  src/main/resources/static/css/multi-tool.css
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

add blankPage
  axa
  src/main/resources/static/css/multi-tool.css
Due: check-html-tabs

new
  src/main/resources/static/css/multi-tool.css
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

change“ ;
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

Setup new docker org stirlingtools/stirling-pdf (#2232)
  .github/workflows/push-docker.yml
Due: none

Implemented hidden input tags to resolve issue with file input handling
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/resources/templates/split-pdf-by-chapters.html
Due: check-html-tabs

Cleanup: Remove log statements for production readiness
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
Due: none

Multitool multiselect split functionality and UI updates
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Download selected button, additional tooltips
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

revert CertSignController
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
Due: none

remove material icons
  src/main/resources/static/css/theme/font.css
  src/main/resources/static/fonts/MaterialIcons-Regular.woff2
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

restore to previous certsigncontroller
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
Due: none

Update CertSignController.java
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
Due: none

Fix: Ensure backend receives false when checkbox is unchecked in split-pdf-by-chapters feature (#2234)
  src/main/resources/templates/split-pdf-by-chapters.html
Due: check-html-tabs

added title display on hovering, added missing german translations
  scripts/ignore_translation.toml
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Add: missing swagger Tag
  src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/controller/web/SignatureController.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update the Tests (#2066)
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
Due: none

try this
  testdriver/test.yml
Due: none

Add: missing swagger Tag (#2238)
  src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/controller/web/SignatureController.java
Due: none

Prohibit the registration of unauthorized usernames
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

added title display on hovering, added missing german translations (#2237)
  scripts/ignore_translation.toml
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

Prohibit the registration of unauthorized usernames (#2240)
  src/main/java/stirling/software/SPDF/config/security/UserService.java
Due: none

Update messages_it_IT.properties (#2239)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys
