Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update: fix dropdown hover + icon titles on mobile
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/css/navbar.css
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

replaced backend with vite
  package-lock.json
  server-node/package.json
  server-node/rollup.config.js
  server-node/src/index.ts
  server-node/src/routes/api/workflow-controller.ts
  server-node/vite.config.ts
  shared-operations/src/i18next.config.ts
  shared-operations/src/workflow/traverseOperations.ts
  shared-operations/src/workflow/validateOperations.ts
Due: check-html-tabs

extract working with new standard and dynamically
  shared-operations/public/locales/extractPages/en.json
  shared-operations/src/functions/extractPages.ts
  shared-operations/src/functions/impose.ts
  shared-operations/src/workflow/operatorAccessor.ts
Due: none

Updated NPM Scripts to vite
  server-node/package.json
  server-node/tsconfig.json
Due: none

Update search functionality on navbar
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/search.js
Due: check-html-tabs

Solve issue from hidden languages
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Removed BrowserFS Dependency
  client-tauri/public/browserfs.min.js
  client-tauri/src/pages/Dynamic.tsx
Due: check-html-tabs

Update InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Due: none

extract, comma seperated list fields in Joi & genericField
  .eslintrc.js
  client-tauri/src/components/fields/GenericField.tsx
  client-tauri/src/pages/Dynamic.tsx
  shared-operations/src/functions/extractPages.ts
  shared-operations/src/functions/scaleContent.ts
  shared-operations/src/wrappers/CommaArrayJoiExt.ts
  shared-operations/src/wrappers/PdfFileJoi.ts
Due: check-html-tabs

fixed comment for pdf extraction
  shared-operations/src/functions/extractPages.ts
Due: none

merge
  shared-operations/public/locales/merge/en.json
  shared-operations/src/functions/merge.ts
  shared-operations/src/functions/mergePDFs.ts
Due: none

removeBlankPages. backend only
  package-lock.json
  shared-operations/package.json
  shared-operations/public/locales/removeBlankPages/en.json
  shared-operations/src/functions/common/getImagesOnPage.ts
  shared-operations/src/functions/removeBlankPages.ts
  shared-operations/tsconfig.json
Due: none

Added a unique id for all files to be a able to delete duplicate files.
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Change the SortFiles Method, so it works with the filesWithUniqueID Array
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Deleted Console logs and adjusted some comments.
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Fix Rotation function
  src/main/resources/templates/rotate-pdf.html
Due: check-html-tabs

fix: Remove Redundant Back to Main Page Button
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Added slovak translation
  src/main/resources/messages_sk_SK.properties
  src/main/resources/static/images/flags/sk.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Added Slovak language to supported languages table
  README.md
Due: none

:memo: Sync README > Made via sync_files.yml
  README.md
  scripts/translation_status.toml
Due: none

updated to node 22.2.0 to work with pdf.js 4.2.67
  CONTRIBUTE.md
  client-tauri/src/pages/Dynamic.tsx
  package-lock.json
  shared-operations/package.json
  shared-operations/src/functions/common/getImagesOnPage.ts
  shared-operations/src/wrappers/PdfFile.ts
  shared-operations/src/wrappers/PdfFileJoi.ts
Due: none

Fixed dynamic operator loading not finishing for some operators.
  client-tauri/src/pages/Dynamic.tsx
  shared-operations/src/wrappers/PdfFileJoi.ts
Due: none

remove blank pages, frontend Thank you a lot for helping me debug this sbplat
  shared-operations/src/wrappers/PdfFile.ts
Due: none

remove pages and cleanup
  shared-operations/src/functions/common/pageIndexesUtils.ts
  shared-operations/src/functions/extractPages.ts
  shared-operations/src/functions/removePages.ts
  shared-operations/src/wrappers/CommaArrayJoiExt.ts
Due: none

rotatePages
  client-tauri/src/components/fields/GenericField.tsx
  client-tauri/src/pages/Dynamic.tsx
  shared-operations/src/functions/rotatePages.ts
Due: none

logging for #1024 and jdk bump
  Dockerfile
  Dockerfile-ultra-lite
  LocalRunGuide.md
  src/main/java/stirling/software/SPDF/config/security/UserBasedRateLimitingFilter.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
