Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_da_DK.properties
  src/main/resources/messages_da_DK.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

test (#1814)
  src/main/resources/messages_da_DK.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1815)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix a bug that adds an empty page to splitted documents due to a sorting error.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Add a 'Split All' button and the relevant functionality.
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

PR feedback: make caption shorter, avoid unnecessary verbosity (#1798)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_sv_SE.properties
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

Update messages_sv_SE.properties (#1820)
  src/main/resources/messages_sv_SE.properties
Due: check-duplicate-properties-keys

Update messages_ro_RO.properties
  src/main/resources/messages_ro_RO.properties
Due: check-duplicate-properties-keys

Update messages_ro_RO.properties (#1822)
  src/main/resources/messages_ro_RO.properties
Due: check-duplicate-properties-keys

Modified Body Font Color
  src/main/resources/static/css/home.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/css/theme/font.css
Due: check-html-tabs

Update messages_ar_AR.properties
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Update messages_ar_AR.properties (#1825)
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

remove donate
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Footer to have link to website
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/static/css/footer.css
  src/main/resources/templates/fragments/footer.html
Due: check-html-tabs

Footer link to Stirlingpdf.com (#1827)
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/static/css/footer.css
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Add document splitting functionality to the multi-tools page (#1808)
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

commit 1 slight modification
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

commit 2 slight modification
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

commit 3 slight modification
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

didn't remove kept as it is
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

---resumed
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Fix the add file button on the multi-tools page.
  src/main/resources/static/js/multitool/PdfActionsManager.js
Due: check-html-tabs

Fix a bug where the page numbers wouldn't be removed on page move on Firefox.
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

[Bug Fix] Multiple Bug Fixes (#1836)
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
