Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix: page break insertion functionality in Multi Tool (#2350)
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Call execute on splitAllCommand
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Add undo/redo buttons to multi tool
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/UndoManager.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Add undo/redo to translations
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Replace hard-coded "Undo"/"Redo" with translation keys in multi tool
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2355)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

backup
  cucumber/features/external.feature
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/config/security/saml2/SamlDebugFilter.java
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/resources/application.properties
  test.sh
Due: check-duplicate-properties-keys

remove debugs
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/SamlDebugFilter.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

oauth to saml and compare fixes etc
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/model/AuthenticationType.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/settings.yml.template
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

ee flag for saml
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/service/PdfMetadataService.java
Due: none

more fixes
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationRequestRepository.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/service/PdfMetadataService.java
Due: none

info to debug
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
Due: none

remove unused repo
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationRequestRepository.java
Due: none

spring dev fix for saml
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

debugs
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Fix Array.from syntax in nonmultiple file upload
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix Array.from syntax in nonmultiple file upload (#2357)
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix a bug that allowed multiple files to be dropped onto a single-file input element
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

saml stuff
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

debugs
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

fix
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

fixes and other changes and debug of WIP SAML (#2360)
  build.gradle
  cucumber/features/external.feature
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  src/main/java/stirling/software/SPDF/model/AuthenticationType.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/java/stirling/software/SPDF/service/PdfMetadataService.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/compare.html
  test.sh
Due: check-duplicate-properties-keys, check-html-tabs

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Fix allowing multiple files to be dropped onto a single file input (#2359)
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix fileInput.js adding event listeners more than once
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Add separate drag and drop area for file choosers
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix translations for watermark spacers
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

added support for new line in stampController
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
Due: none

Update file chooser UI
  src/main/resources/static/css/fileSelect.css
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Add support for listing and removing selected files and their file icons
  src/main/resources/static/js/file-icon-factory.js
  src/main/resources/static/js/file-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Fix submit button in crop by adding id
  src/main/resources/templates/crop.html
Due: check-html-tabs

Rename remove-file css class to remove-selected-file
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
