Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Upgraded tooltips on multitool. Order selected pages list. Repositionicons. Minor additional tweaks
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/fragments/multi-toolAdvert.html
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Page breaks - selected pages only
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Tooltips on per page controls
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/css/pdfActions.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix id typo
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Azerbaijani flag and dropdown item added
  src/main/resources/static/images/flags/az.svg
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Azerbaijani Language file Added
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

AZ - ignore_translation.toml init
  scripts/ignore_translation.toml
Due: none

Fix id typo for "cropPdfCanvas" querySelector (#2271)
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Update MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
Due: none

Update MetricsAggregatorService.java (#2272)
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
Due: none

Update PR-Demo-cleanup.yml
  .github/workflows/PR-Demo-cleanup.yml
Due: none

Update downloader.js
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Update check_properties.yml
  .github/workflows/check_properties.yml
Due: none

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Frooodle patch 8 (#2275)
  .github/workflows/check_properties.yml
Due: none

Update common.html
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Metrics changes (#2273)
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Hide empty menus that don't match search criteria
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

Expand menus automatically for matching search results
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

AZ Translation Enterprise Edition Section
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for Generic
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

translation-az pipeline
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for Analytics
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Translation for NAVBAR
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

Update German language
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Translation for SETTINGS
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys

translation-az homepage
  src/main/resources/messages_az_AZ.properties
Due: check-duplicate-properties-keys
