Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix: YamlFile - String length limit disable
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Due: none

corrects the link to the country selection
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

corrects the link to the country selection (#1717)
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Update messages_it_IT.properties (#1713)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Add Option to Specify Installation Method in Bug Report Template (#1710)
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

Fix: Failed authentication #1704 (#1708)
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

Fix: YamlFile - String length limit disable (#1716)
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Due: none

Fix ConcurrentModificationException by collecting XObject names
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

Fix ConcurrentModificationException by modifying resources outside the iteration. (#1719)
  src/main/java/stirling/software/SPDF/service/PdfImageRemovalService.java
Due: none

Fixed blank lines
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Converting with pdf2image and Pillow instead of pymupdf
  .github/labeler-config.yml
  .github/scripts/docker/Dockerfile-PyMuPDF
  .github/workflows/pymupdf.yml
  .pymupdf
  Dockerfile
  Dockerfile-fat
  scripts/png_to_webp.py
Due: none

Misstype | Sebian => Serbian
  README.md
Due: none

Add files via upload
  src/main/resources/static/fonts/google-symbol.woff2
Due: none

Typing error in README.md (#1721)
  README.md
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Updated pt_BR ignored translations; Improved pt_BR translation (#1705)
  scripts/ignore_translation.toml
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
  scripts/ignore_translation.toml
Due: none

remove mupdf
  Dockerfile
  Dockerfile-fat
Due: none

Add: Convert PDF to WebP (#1666)
  .github/labeler-config.yml
  Dockerfile
  Dockerfile-fat
  Endpoint-groups.md
  scripts/png_to_webp.py
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToImageRequest.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/convert/pdf-to-img.html
  src/main/resources/templates/fragments/navbar.html
Due: check-duplicate-properties-keys, check-html-tabs

ExtractImagesController. null checks
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

Update build.gradle
  build.gradle
Due: none

:floppy_disk: Sync Versions > Made via sync_files.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Icons and clearer OperatorSchema
  shared-operations/src/functions/arrangePages.schema.ts
  shared-operations/src/functions/extractPages.schema.ts
  shared-operations/src/functions/impose.schema.ts
  shared-operations/src/functions/index.ts
  shared-operations/src/functions/merge.schema.ts
  shared-operations/src/functions/removeBlankPages.schema.ts
  shared-operations/src/functions/removePages.schema.ts
  shared-operations/src/functions/rotatePages.schema.ts
  shared-operations/src/functions/scaleContent.schema.ts
  shared-operations/src/functions/scalePage.schema.ts
  shared-operations/src/functions/splitPagesByPreset.schema.ts
  shared-operations/src/functions/splitPdfByIndex.schema.ts
  shared-operations/src/functions/updateMetadata.schema.ts
Due: none

Create release.yml
  .github/release.yml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
