Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

Update CheckProgramInstall.java
  src/main/java/stirling/software/SPDF/utils/CheckProgramInstall.java
Due: none

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Updated Rust and Cargo, Updated Package Info
  client-tauri/src-tauri/Cargo.lock
  client-tauri/src-tauri/Cargo.toml
Due: none

SingleLargePage Feature
  shared-operations/public/locales/singleLargePage/en.json
  shared-operations/src/functions/singleLargePage.schema.ts
  shared-operations/src/functions/singleLargePage.ts
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Update messages_it_IT.properties (#1732)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

feat: Added Elestio as one-click deploy option
  README.md
Due: none

Language Error Handling
  client-tauri/src/App.tsx
Due: none

Frontend Docker Deployment
  client-tauri/Dockerfile
  client-tauri/README.md
  client-tauri/package.json
  client-tauri/src-tauri/Cargo.toml
  client-tauri/src-tauri/tauri.conf.json
  shared-operations/src/wrappers/PdfFile.ts
Due: none

cleanups!
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/model/api/converters/UrlToPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/ContainsTextRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/FileSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageRotationRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/OverlayPdfsRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/SplitPdfBySizeOrCountRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AutoSplitPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractHeaderRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractImageScansRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/PrintFileRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/PDFPasswordRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactPdfRequest.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Missing multi-selection and Python validation
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-html-tabs

fix
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Fix: Missing multi-selection and Python validation (#1740)
  src/main/resources/templates/convert/pdf-to-img.html
Due: check-html-tabs

Fix: authentication ApiKey NullPointerException
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
Due: none

Fix: authentication ApiKey NullPointerException (#1744)
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
Due: none

Fix: validations is not a permitted attribute - dropdown
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

Fix: validations is not a permitted attribute - dropdown (#1745)
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

Cleanup logs (#1739)
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/model/api/converters/UrlToPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/ContainsTextRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/FileSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageRotationRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/OverlayPdfsRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/SplitPdfBySizeOrCountRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AutoSplitPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractHeaderRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractImageScansRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/PrintFileRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/PDFPasswordRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactPdfRequest.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/application.properties
Due: check-duplicate-properties-keys

Add: Make Login Attempt Service deactivatable
  README.md
  src/main/java/stirling/software/SPDF/config/security/LoginAttemptService.java
  src/main/resources/settings.yml.template
Due: none

fix
  build.gradle
  src/main/java/stirling/software/SPDF/model/User.java
  test.sh
Due: none

Fixes for eager loading (#1748)
  build.gradle
  src/main/java/stirling/software/SPDF/model/User.java
  test.sh
Due: none

Add: Make Login Attempt Service deactivatable (#1747)
  README.md
  src/main/java/stirling/software/SPDF/config/security/LoginAttemptService.java
  src/main/resources/settings.yml.template
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
