Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Merge branch 'bug/remember-me' of git@github.com:Stirling-Tools/Stirling-PDF.git into bug/remember-me
  src/main/java/stirling/software/SPDF/config/security/saml2/CertificateUtils.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/LoggingSamlAuthenticationProvider.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/githubVersion.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Update translation files
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

Update messages_ca_CA.properties
  src/main/resources/messages_ca_CA.properties
Due: check-duplicate-properties-keys

Multi-tool advert on pages that share functionality
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/extract-page.html
  src/main/resources/templates/fragments/multi-toolAdvert.html
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/pdf-organizer.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/rotate-pdf.html
  src/main/resources/templates/split-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Rtl CSS
  src/main/resources/templates/fragments/multi-toolAdvert.html
Due: check-html-tabs

Clear file inputs after jobs
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/merge.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/rotate-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Clear file inputs after jobs (#2248)
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/merge.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/merge-pdfs.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/rotate-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2250)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update build.gradle
  build.gradle
Due: none

Update ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Fixing bug: Add Image makes random changes to image (#2246)
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Update multi-tool.html
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

Fixing bug: Add Image makes random changes to image (#2246) (#2256)
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Fix canvas pdf to csv (#2228)
  src/main/resources/templates/convert/pdf-to-csv.html
Due: check-html-tabs

Update README.md
  README.md
Due: none

Delete Jenkinsfile
  Jenkinsfile
Due: none

docker move
  DeveloperGuide.md
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite.yml
  exampleYmlFiles/docker-compose-latest.yml
  src/main/resources/templates/fragments/navbar.html
  test2.sh
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
