Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Use input element to dispatch event on file removal
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix submit button in crop by adding id (#2374)
  src/main/resources/templates/crop.html
Due: check-html-tabs

Adapt file chooser UI to themes
  src/main/resources/static/css/fileSelect.css
Due: check-html-tabs

Remove extra overlay border
  src/main/resources/static/css/fileSelect.css
Due: check-html-tabs

Remove Browse button, highlight file chooser and make it clickable
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Replace crypto.randomUUID() with UUID.uuidv4()
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/uuid.js
Due: check-html-tabs

Fix merge file removal not being reflected in file chooser
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Make inputElement optional in removeFileById
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

Fix translations for watermark spacers (#2369)
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Fix: prevent fileInput.js from adding event listeners more than once (#2365)
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

added support for new line break in stampController (#2370)
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
Due: none

Add translation support to file chooser
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/fileSelect.css
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix drag and drop area for file choosers by adding separate ones (#2368)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/js/file-icon-factory.js
  src/main/resources/static/js/file-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
  src/main/resources/static/js/uuid.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2380)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix deserialization failure from String to Map
  src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToMapPropertyEditor.java
Due: none

Fix form binding for dynamic Map entries in Change Metadata
  src/main/resources/templates/misc/change-metadata.html
Due: check-html-tabs

Fix deserialization failure in Change Metadata (#2382)
  src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToMapPropertyEditor.java
  src/main/resources/templates/misc/change-metadata.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update MetricsAggregatorService.java
  src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
Due: none

Improved sign box
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Fix rotation issues
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

initial fabric rewrite
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Fix delete selected Fix add page break where selected Added undo logic for page breaks
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/delete-page.js
  src/main/resources/static/js/multitool/commands/page-break.js
Due: check-html-tabs

Add pages undo capability
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/add-page.js
Due: check-html-tabs

Fix page break when selected logic
  src/main/resources/static/js/multitool/commands/page-break.js
Due: check-html-tabs

Feature/undo page break (#2389)
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/commands/add-page.js
  src/main/resources/static/js/multitool/commands/delete-page.js
  src/main/resources/static/js/multitool/commands/page-break.js
Due: check-html-tabs

verifyCerts
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationResult.java
  src/main/java/stirling/software/SPDF/service/CertificateValidationService.java
  src/main/resources/certdata.txt
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/validate-signature.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix missing upload button
  src/main/resources/static/css/fileSelect.css
Due: check-html-tabs

Fix missing upload button (#2393)
  src/main/resources/static/css/fileSelect.css
Due: check-html-tabs
