Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Endringer oversettelser
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

Edit norwegian translations (#1476)
  src/main/resources/messages_no_NB.properties
Due: check-duplicate-properties-keys

add fat jar
  README.md
  Version-groups.md
Due: none

Made two methods to leave the old implementation in for AddImage
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Loading old reverted changes to work with them
  src/main/resources/static/js/fileInput.js
Due: check-html-tabs

pigers full polish translation
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Update messages_nl_NL.properties
  src/main/resources/messages_nl_NL.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Polish translation (#1482)
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Update messages_nl_NL.properties (#1483)
  src/main/resources/messages_nl_NL.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Old implementation, still brakes other file input forms
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/merge.js
Due: check-html-tabs

Update README.md adjusting system to security as shown later in the readme for consistency (#1488)
  README.md
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Missing description for Split function in top bar
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Missing description for Split function in top bar (#1492)
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

fix: Dockerfile-ultra-lite to reduce vulnerabilities
  Dockerfile-ultra-lite
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

Update pipeline.html
  src/main/resources/templates/pipeline.html
Due: check-html-tabs

Update compare.html
  src/main/resources/templates/misc/compare.html
Due: check-html-tabs

Create ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Update ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Adjusted old implementation so it does not brake the other input forms.
  src/main/resources/static/js/fileInput.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

Made Duplicate warning Dynamic and Translatable
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/css/merge.css
  src/main/resources/static/js/merge.js
  src/main/resources/templates/merge-pdfs.html
Due: check-duplicate-properties-keys, check-html-tabs

Layed dynamic button over file input button. Num of Files selected info missing now
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
