Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_tr_TR.properties (#1032)
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

updates
  README.md
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

Add uk_UA lang
  src/main/resources/messages_uk_UA.properties
  src/main/resources/static/images/flags/ua.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Add added error translation block into uk_UA lang
  src/main/resources/messages_uk_UA.properties
Due: check-duplicate-properties-keys

fix: missing pdf to html endpoint
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToHtml.java
Due: none

refactor: remove unused variable
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToHtml.java
Due: none

add Ukrainian README, languages.html and correction FR, IT
  README.md
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update and Improve Greek translation
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys

Update messages_el_GR.properties
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys

Closes #359
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/model/PdfMetadata.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Closes #359 (#1047)
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/model/PdfMetadata.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

Update messages_de_DE.properties (#1045)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update ja_JP,ko_KR,ru_RU,zh_TW.properties (#1036)
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Feature: Add Ukrainian Language Support (#1039)
  src/main/resources/messages_uk_UA.properties
  src/main/resources/static/images/flags/ua.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

fix: missing pdf to html endpoint (#1043)
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToHtml.java
Due: none

add Ukrainian README, languages.html and correction FR, IT (#1044)
  README.md
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Improve Greek translation (#1046)
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys

add missing strings
  src/main/resources/messages_uk_UA.properties
Due: check-duplicate-properties-keys

Ukrainian - add missing strings (#1048)
  src/main/resources/messages_uk_UA.properties
Due: check-duplicate-properties-keys

Adds a minor fix, the modified date should be changed after a modification is made.
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

359 split metadata lost (#1049)
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
Due: none

add sync-readme
  .github/workflows/sync_files.yml
  .github/workflows/sync_versions.yml
Due: none

add sync-readme (#1051)
  .github/workflows/sync_files.yml
  .github/workflows/sync_versions.yml
Due: none

replace comma to dot
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

replace comma to dot (#1057)
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
