Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Multitool multi select delete feature
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/utils/ImageProcessingUtils.java
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

navbar.css: prevent overlapping of elements (#2140)
  src/main/resources/static/css/navbar.css
Due: check-html-tabs

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

fix signature logo not loading and add option to disable it
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignPDFWithCertRequest.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/cert-sign.html
Due: check-duplicate-properties-keys, check-html-tabs

fix signature logo not loading and add option to disable it (#2143)
  src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignPDFWithCertRequest.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/cert-sign.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix: Auto language detection #2122
  README.md
  src/main/resources/static/js/languageSelection.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Translated various languages using AI
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2146)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Multitool multi select UI improvements and big fixes
  src/main/resources/static/css/multi-tool.css
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

fixed minor bugs in Markdown
  DATABASE.md
  DeveloperGuide.md
  FolderScanning.md
  HowToAddNewLanguage.md
  HowToUseOCR.md
  LocalRunGuide.md
  PipelineFeature.md
  README.md
  Version-groups.md
  src/main/resources/settings.yml.template
Due: none

re-config labeler & add new labels
  .github/labeler-config.yml
  .github/labels.yml
Due: none

Fix: Add missing .map file for minified files
  src/main/resources/static/css/bootstrap.min.css.map
  src/main/resources/static/js/thirdParty/bootstrap.min.js.map
  src/main/resources/static/js/thirdParty/interact.min.js.map
  src/main/resources/static/js/thirdParty/pdf-lib.min.js.map
  src/main/resources/static/js/thirdParty/popper.min.js.map
  src/main/resources/static/js/thirdParty/signature_pad.umd.min.js.map
Due: none

Fix: redeclaration of const
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix: Path correction to draggable.js #2154 + little makeup
  src/main/resources/templates/sign.html
Due: check-html-tabs

fixed minor bugs in Markdown (#2152)
  DATABASE.md
  DeveloperGuide.md
  FolderScanning.md
  HowToAddNewLanguage.md
  HowToUseOCR.md
  LocalRunGuide.md
  PipelineFeature.md
  README.md
  Version-groups.md
  src/main/resources/settings.yml.template
Due: none

re-config labeler & add new labels (#2153)
  .github/labeler-config.yml
  .github/labels.yml
Due: none

Fix: redeclaration of const and add: tranlation placeholder for Session Expiry Messages (#2158)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
Due: check-duplicate-properties-keys, check-html-tabs

Fix: Path correction to draggable.js #2154 + little makeup (#2159)
  src/main/resources/templates/sign.html
Due: check-html-tabs

Fix: Add missing .map file for minified files (#2156)
  src/main/resources/static/css/bootstrap.min.css.map
  src/main/resources/static/js/thirdParty/bootstrap.min.js.map
  src/main/resources/static/js/thirdParty/interact.min.js.map
  src/main/resources/static/js/thirdParty/pdf-lib.min.js.map
  src/main/resources/static/js/thirdParty/popper.min.js.map
  src/main/resources/static/js/thirdParty/signature_pad.umd.min.js.map
Due: none

add LanguageService and AdditionalLanguageJsController
  src/main/java/stirling/software/SPDF/controller/api/AdditionalLanguageJsController.java
  src/main/java/stirling/software/SPDF/service/LanguageService.java
  src/main/resources/static/js/languageSelection.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/login.html
Due: check-html-tabs

hidden swagger
  src/main/java/stirling/software/SPDF/controller/api/AdditionalLanguageJsController.java
Due: none

Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2161)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Fix: Auto language detection #2122 (#2148)
  src/main/java/stirling/software/SPDF/controller/api/AdditionalLanguageJsController.java
  src/main/java/stirling/software/SPDF/service/LanguageService.java
  src/main/resources/static/js/languageSelection.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/login.html
Due: check-html-tabs

Fix: Navbar layout overflow using Bootstrap class .navbar-expand-xl
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Created translations for various languages using AI
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
Due: check-duplicate-properties-keys
