Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Fix hidden redaction overlay due to overlapping with redaction box
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Final tweaks
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Add missing pdflib
  src/main/resources/templates/merge-pdfs.html
Due: check-html-tabs

Update build number
  build.gradle
Due: none

Fix drag and drop bugs and clean up UI
  src/main/resources/static/css/dragdrop.css
  src/main/resources/static/js/multitool/DragDropManager.js
  src/main/resources/static/js/multitool/commands/move-page.js
Due: check-html-tabs

Reduce opacity of dragged page on multidrag not just single
  src/main/resources/static/css/dragdrop.css
  src/main/resources/static/js/multitool/DragDropManager.js
Due: check-html-tabs

Hide nav bar, footer and form on file selection
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Update build.yml
  .github/workflows/build.yml
Due: none

Rename LANGS variable in init.sh to avoid overriding font LANGS
  scripts/init.sh
Due: none

Use file-input-change event to disable/enable conversionType
  src/main/resources/templates/convert/img-to-pdf.html
Due: check-html-tabs

Fix form data files being replaced by the last decrypted file
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Rename properties popup
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/redact.css
  src/main/resources/templates/security/redact.html
Due: check-duplicate-properties-keys, check-html-tabs

Hide input fields in the initial form (in manual redaction) to avoid user confusion
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Bump googleJavaFormat from 1.22.0 to 1.25.2
  .vscode/settings.json
  build.gradle
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Remove unused draggable.js file
  src/main/resources/static/js/draggable.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Fix drop on self bug Fix highlight fadeout bug UI tweaks
  src/main/resources/static/css/dragdrop.css
  src/main/resources/static/js/multitool/DragDropManager.js
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Optimise signature canvas for mobile and improve resolution
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/draggable.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/sign/signature-canvas.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Pass form to submitMultiPdfForm
  src/main/resources/static/js/downloader.js
Due: check-html-tabs
