Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Added username validation for spaces and special characters
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Added username validation at api level
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

Added username validation for different methods which requires username #827
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/templates/account.html
  src/main/resources/templates/change-creds.html
Due: check-html-tabs

Show the user roles as real names (#867)
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/Role.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/addUsers.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_it_IT.properties (#870)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

init
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Role.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/templates/change-creds.html
Due: check-duplicate-properties-keys, check-html-tabs

user and pass to just pass lang update
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Removed validation in register endpoint
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/templates/change-creds.html
Due: check-html-tabs

fix(SplitPDF): create immutable list for dynamic additions
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Role.java
Due: none

fix(SplitPDF): create immutable list for dynamic additions (#877)
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Role.java
Due: none

Password fix and others (#875)
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/change-creds.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_it_IT.properties (#878)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

session management fixes and avoid demo user locking
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

Login fixes (#881)
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
Due: none

fix for UMASK and extract cleanups
  Dockerfile
  Dockerfile-lite
  Dockerfile-ultra-lite
  scripts/init-without-ocr.sh
  scripts/init.sh
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

Custom uid (#883)
  Dockerfile
  Dockerfile-lite
  Dockerfile-ultra-lite
  scripts/init-without-ocr.sh
  scripts/init.sh
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

added missing translation strings
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

added missing translation strings (#888)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Fix TypeError by rotation
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Fix TypeError by rotation (#890)
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

fixes for user #889 and #332
  Dockerfile
  Dockerfile-lite
  Dockerfile-ultra-lite
  build.gradle
  exampleYmlFiles/docker-compose-latest-security.yml
  scripts/init.sh
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  test.sh
Due: none

increase session count for demo site
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

fix
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

gcc
  Dockerfile-lite
  scripts/init-without-ocr.sh
Due: none

formatting
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
Due: none

fixes for user permissions (#892)
  Dockerfile
  Dockerfile-lite
  Dockerfile-ultra-lite
  build.gradle
  exampleYmlFiles/docker-compose-latest-security.yml
  scripts/init-without-ocr.sh
  scripts/init.sh
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationFailureHandler.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  test.sh
Due: none

Update messages_it_IT.properties (#891)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys
