Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Text color selection for watermark (#2415)
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/security/add-watermark.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: fa locale added
  .vscode/settings.json
  README.md
  src/main/resources/messages_fa_IR.properties
  src/main/resources/static/images/flags/ir.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

fix: fa_locale issues fixed
  src/main/resources/messages_fa_IR.properties
Due: check-duplicate-properties-keys

Update settings.json
  .vscode/settings.json
Due: none

feat: fa locale added (#2416)
  README.md
  src/main/resources/messages_fa_IR.properties
  src/main/resources/static/images/flags/ir.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

2270: Adding postgresql
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

2270: Refactoring
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
Due: none

#2270 config for DB variants
  build.gradle
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DataSourceConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/JpaConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/PersistentLogin.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

2270: Added new dep, implemented functionality to init the DB in postgres, more refactoring
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

#2270 added initDB script
  build.gradle
  scripts/init_db.sh
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Check if file is encrypted without password
  src/main/resources/static/js/multitool/DecryptFiles.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Support text selection redaction in the browser
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Add en_GB translation for manual redaction
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Add manual redaction - tool header
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Fix: Selection box alignment issue at low zoom levels
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Use ctrl + S instead of ctrl shift to apply redaction on selected text
  src/main/resources/static/js/redact.js
Due: check-html-tabs

fixes
  src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
Due: none

format
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationResult.java
  src/main/java/stirling/software/SPDF/service/CertificateValidationService.java
Due: none

Prevent Redaction wrappers from being selected
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Add submit btn and hidden redactions input
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Assign values for redactionsInput
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Scale x, y, width and height to match PDF page points
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add manual PDF area-based redaction and supporting classes
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
Due: none

Fix incorrect y position calculation while adding rect to pdf
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
Due: none

Fix formula for redaction points and dimensions
  src/main/resources/static/js/redact.js
Due: check-html-tabs

ensure csrf is enabled
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/settings.yml.template
Due: none

Add support for drawing-based redaction
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
Due: check-html-tabs

Add Decrypt to all relevant pages
  src/main/resources/static/js/DecryptFiles.js
  src/main/resources/static/js/download.js
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/pages/adjust-contrast.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/adjust-contrast.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

X-API-key to X-API-KEY
  README.md
  cucumber/features/steps/step_definitions.py
  exampleYmlFiles/test_cicd.yml
  src/main/java/stirling/software/SPDF/config/InitialSetup.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserBasedRateLimitingFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  test.sh
Due: none

Update messages_pt_BR.properties (#2429)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys
