Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

finish
  .github/workflows/multiOSReleases.yml
  build.gradle
Due: none

Update Dockerfile-fat
  Dockerfile-fat
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

csrf fixes
  src/main/resources/static/js/downloader.js
  src/main/resources/static/js/fetch-utils.js
  src/main/resources/templates/account.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/remove-annotations.html
  src/main/resources/templates/security/validate-signature.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Update releaseArtifacts.yml
  .github/workflows/releaseArtifacts.yml
Due: none

Update multiOSReleases.yml
  .github/workflows/multiOSReleases.yml
Due: none

2270: Adding postgresql
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

2270: Refactoring
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
Due: none

2270: Added new dep, implemented functionality to init the DB in postgres, more refactoring
  build.gradle
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

#2270 added initDB script
  build.gradle
  scripts/init_db.sh
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

updating Docker config
  build.gradle
  exampleYmlFiles/docker-compose-latest-security.yml
  scripts/init_db.sh
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/exception/UnsupportedDriverException.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/config/security/InitialSecuritySetupTest.java
Due: check-duplicate-properties-keys

Docker working sorting out configuration
  build.gradle
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Testing postgres container
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/controller/api/security/PasswordController.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: check-duplicate-properties-keys

#2270 adding postgres to default profile
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/exception/UnsupportedDriverException.java
  src/main/resources/application-mysql.properties
  src/main/resources/application-oracle.properties
  src/main/resources/application-postgres.properties
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
Due: check-duplicate-properties-keys

Clean up
  exampleYmlFiles/docker-compose-latest-security.yml
Due: none

Adding postgres to other Docker configs
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
Due: none

Adjust toolbar and buttons to be bigger
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Add Stirling logo to the toolbar
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Style and customize the toolbar
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

#2270 updating other Docker configs
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
Due: none

#2270 cleanup
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security-with-sso.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite-security.yml
  exampleYmlFiles/docker-compose-latest-ultra-lite.yml
Due: none

#2270 a little more cleanup
  src/main/resources/application.properties
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: check-duplicate-properties-keys

disabling test
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

Add a container redactions palette
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Style toolbar buttons
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Remove unused classes
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Add manual redaction to the nav bar
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Remove eraser icon
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Use new more fitting icons
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Display apply redaction btn in text mode only
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Add download button and loading spinner
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
