Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_en_US.properties
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

Changed Spacing between between Buttons and Spacing of Settings Menu
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/convert/file-to-pdf.html
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Create docker-compose.yml
  docker-compose.yml
Due: none

Changed Spacing between between Buttons and Spacing of Settings Menu (#1864)
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/convert/file-to-pdf.html
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update messages_zh_CN.properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update messages_zh_CN.properties (#1871)
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

added @Tag
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Due: none

fix:Remove add image button as the button was non functional. Align download input file with same width as pdf file input
  src/main/resources/templates/misc/add-image.html
Due: check-html-tabs

fix:Remove add image and Align download input file with same width as pdf file input (#1884)
  src/main/resources/templates/misc/add-image.html
Due: check-html-tabs

Update README.md
  README.md
Due: none

Update LocalRunGuide.md
  LocalRunGuide.md
Due: none

final touches
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/MetricsFilter.java
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/UserServiceInterface.java
  src/main/java/stirling/software/SPDF/controller/web/MetricsController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/settings.yml.template
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/misc/add-page-numbers.html
Due: check-duplicate-properties-keys, check-html-tabs

final touches
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
Due: none

final touches
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
  src/main/resources/settings.yml.template
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

final touches
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
Due: none

final touches
  src/main/java/stirling/software/SPDF/controller/web/MetricsController.java
Due: none

final touches
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/fragments/footer.html
Due: check-duplicate-properties-keys, check-html-tabs

Update translation files
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

final touches
  src/main/java/stirling/software/SPDF/config/PdfMetadataService.java
  src/main/resources/settings.yml.template
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1891)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update add-watermark.html
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

Update add-watermark.html (#1893)
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
