Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update init-without-ocr.sh
  scripts/init-without-ocr.sh
Due: none

Add: Label manager (#1560)
  .github/labels.yml
  .github/workflows/manage-label.yml
Due: none

Adding declaration as repository component & changing primary key type (#1559)
  src/main/java/stirling/software/SPDF/repository/AuthorityRepository.java
  src/main/java/stirling/software/SPDF/repository/PersistentLoginRepository.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Due: none

Add missing Turkish translation (#1549)
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

minor changes in the DEV tools and more
  .github/labeler-config.yml
  .github/scripts/check_tabulator.py
  .github/workflows/auto-labeler.yml
  .github/workflows/sync_files.yml
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

minor changes in the DEV tools and more (#1578)
  .github/labeler-config.yml
  .github/scripts/check_tabulator.py
  .github/workflows/auto-labeler.yml
  .github/workflows/sync_files.yml
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
Due: none

remove new lines and obsolete spaces
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

remove new lines and obsolete spaces (#1585)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update of what was missing in messages_es_ES.properties
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Update of what was missing in messages_es_ES.properties (#1586)
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#1588)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

remove: pagingSeal files and related modifications
  src/main/java/stirling/software/SPDF/controller/api/misc/PagingSealController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/api/misc/PagingSealRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/paging-seal.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: Add pagingSeal functionality to stemp for riding seal across pages
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  src/main/resources/templates/misc/stamp.html
Due: check-html-tabs

fix: Dockerfile-ultra-lite to reduce vulnerabilities
  Dockerfile-ultra-lite
Due: none

Translate to Vietnamese
  scripts/ignore_translation.toml
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/static/images/flags/vn.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Update of values.yaml to use a new variable to manage the application rootpath
  chart/stirling-pdf/values.yaml
Due: none

Use rootPath of values in deployment to manage rootPath and probes
  chart/stirling-pdf/templates/deployment.yaml
Due: none

[Helm][K8S] Add rootPath helm (#1593)
  chart/stirling-pdf/templates/deployment.yaml
  chart/stirling-pdf/values.yaml
Due: none

Add translation for Vietnamese
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

Update messages_zh_TW.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

fix eof
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

- Remove invalid properties and duplicated values. - Add blank lines to align with the original format of en_GB file
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

fix eof
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

add empty lines to align with the template format. The number of line is equal with the reference en_GB file now
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

change some translations to be more natural and easier to understand
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

Update messages_zh_CN.properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Translate to Vietnamese (#1591)
  scripts/ignore_translation.toml
  src/main/resources/messages_vi_VN.properties
  src/main/resources/static/images/flags/vn.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
