Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

Add image support to multi-tool page
  src/main/resources/static/js/multitool/ImageHighlighter.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/fileInput.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

changes to support image types
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

final touches
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Add image support to multi-tool page (#1769)
  src/main/resources/static/js/multitool/ImageHighlighter.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/fileInput.js
  src/main/resources/templates/multi-tool.html
Due: check-html-tabs

Update messages_es_ES.properties
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Updated es_ES translation (#1776)
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Added variables
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Due: none

Update SplitPdfByChaptersController.java
  src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
Due: none

Update 1-bug.yml
  .github/ISSUE_TEMPLATE/1-bug.yml
Due: none

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update releaseArtifacts.yml
  .github/workflows/releaseArtifacts.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

Delete .github/FUNDING.yml
  .github/FUNDING.yml
Due: none

Delete .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Update labeler-config.yml
  .github/labeler-config.yml
Due: none

Update NOTES.txt
  chart/stirling-pdf/templates/NOTES.txt
Due: none

Update _helpers.tpl
  chart/stirling-pdf/templates/_helpers.tpl
Due: none

Update deployment.yaml
  chart/stirling-pdf/templates/deployment.yaml
Due: none

Update ingress.yaml
  chart/stirling-pdf/templates/ingress.yaml
Due: none

Update pv.yaml
  chart/stirling-pdf/templates/pv.yaml
Due: none

Update pvc.yaml
  chart/stirling-pdf/templates/pvc.yaml
Due: none

Update service.yaml
  chart/stirling-pdf/templates/service.yaml
Due: none

Update serviceaccount.yaml
  chart/stirling-pdf/templates/serviceaccount.yaml
Due: none

Update servicemonitor.yaml
  chart/stirling-pdf/templates/servicemonitor.yaml
Due: none

Update Chart.yaml
  chart/stirling-pdf/Chart.yaml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
