Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Update messages_ar_AR.properties
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

Update messages_ar_AR.properties (#1430)
  src/main/resources/messages_ar_AR.properties
Due: check-duplicate-properties-keys

X: always a bit too low (too far left)
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Adjusted for size difference between document with and without signature. X is working with scale = 1 now, increasing zoom and the placement is getting more and more off
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Bugfix: missing contextPath
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/java/stirling/software/SPDF/config/security/IPRateLimitingFilter.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
Due: none

Update messages_zh_TW.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Change Zoom Buttons from Text to Magnifying Glasses
  src/main/resources/static/css/sign.css
  src/main/resources/templates/sign.html
Due: check-html-tabs

Adjusted for Height Difference between old and modified document for y coordinate calculation
  src/main/resources/static/js/draggable-utils.js
Due: check-html-tabs

Create images.txt
  images.txt
Due: none

change path
  src/main/resources/static/pdfjs/js/viewer.mjs
Due: none

Add ODD_EVEN_MERGE sort type
  src/main/java/stirling/software/SPDF/model/SortTypes.java
Due: none

Add process method to merge odd and even PDF pages
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
Due: none

Add test cases for Odd-Even merge method
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Due: none

Add Odd-Even Merge mode in PDF Organizer webpage
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/pdf-organizer.html
Due: check-duplicate-properties-keys, check-html-tabs

Add ODD_EVEN_MERGE documentation to RearrangePagesRequest
  src/main/java/stirling/software/SPDF/model/api/general/RearrangePagesRequest.java
Due: none

Update messages_zh_TW.properties: Translate English sentence to Chinese (#1438)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

:memo: Sync README > Made via sync_files.yml
  README.md
Due: none

Bugfix: missing contextPath (#1434)
  src/main/java/stirling/software/SPDF/config/security/CustomAuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/FirstLoginFilter.java
  src/main/java/stirling/software/SPDF/config/security/IPRateLimitingFilter.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/utils/RequestUriUtils.java
Due: none

Add english translation for pdfOrganiser.mode.10
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

survey
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

LANGS
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

survey (#1446)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

Add Odd-Even Merge operation mode (#1445)
  src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
  src/main/java/stirling/software/SPDF/model/SortTypes.java
  src/main/java/stirling/software/SPDF/model/api/general/RearrangePagesRequest.java
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/pdf-organizer.html
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Due: check-duplicate-properties-keys, check-html-tabs

Add missing of Ukrainian translation to the resource file
  src/main/resources/messages_uk_UA.properties
Due: check-duplicate-properties-keys

1. Rectify the problem that parameters are accepted when the user name is modified. 2. When converting PDF to word, add parameters to speed up soffice startup
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
Due: none

When converting PDF to word, add parameters to speed up soffice startup
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
Due: none

update umami script
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

When converting PDF to word, add parameters to speed up soffice startup (#1450)
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
Due: none

Add missing of Ukrainian translation to the resource file (#1448)
  src/main/resources/messages_uk_UA.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
