Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts)/.+)?[^/]+\.py$
      - id: ruff-format
        files: ^((.github/scripts)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^src/main/resources/static/pdfjs/
        files: ^.*(\.html|\.css|\.js)$

Update Chart.yaml
  chart/stirling-pdf/Chart.yaml
Due: none

github bug
  .github/workflows/swagger.yml
Due: none

github bug
  .github/workflows/push-docker.yml
Due: none

Update README.md
  README.md
Due: none

dummy commit (#968)
  README.md
Due: none

Update messages_es_ES.properties
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Update messages_es_ES.properties (#969)
  src/main/resources/messages_es_ES.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Update messages_ja_JP.properties (#975)
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

fix: Add MultiTool UploadPrompts zh_CN And en_US
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: translate zh_cn properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

feat: adjust some description messages_zh_CN.properties
  src/main/resources/messages_zh_CN.properties
Due: check-duplicate-properties-keys

Update TextFinder.java
  src/main/java/stirling/software/SPDF/pdf/TextFinder.java
Due: none

Update TextFinder.java (#980)
  src/main/java/stirling/software/SPDF/pdf/TextFinder.java
Due: none

feat: translate zh_TW file done
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

feat: zh_CN semantic optimization
  src/main/resources/messages_zh_CN.properties
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: Supplementary ja_JP translation
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

feat: extract rest text
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/extract-page.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/pdf-organizer.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/sign.html
Due: check-html-tabs

feat: Sync to all lang.properties
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

feat: translate zh_CN, zh_TW, ja_JP file
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

fix: small bug
  src/main/resources/templates/misc/stamp.html
  src/main/resources/templates/security/add-watermark.html
Due: check-html-tabs

fix: Fix package name of openjdk for debian
  LocalRunGuide.md
Due: none

feat: Extract translation text from html and finished the mainly translation of zh_CN, zh_TW, ja_JP file (#987)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-pdfa.html
  src/main/resources/templates/extract-page.html
  src/main/resources/templates/fragments/languages.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/stamp.html
  src/main/resources/templates/pdf-organizer.html
  src/main/resources/templates/pipeline.html
  src/main/resources/templates/remove-pages.html
  src/main/resources/templates/security/add-watermark.html
  src/main/resources/templates/sign.html
Due: check-duplicate-properties-keys, check-html-tabs

fix: Fix package name of openjdk for debian (#990)
  LocalRunGuide.md
Due: none

fix #986 and #989
  build.gradle
  src/main/java/stirling/software/SPDF/utils/ProcessExecutor.java
Due: none

:floppy_disk: Sync Versions > Made via sync_versions.yml
  chart/stirling-pdf/Chart.yaml
Due: none

Update 3rd Party Licenses
  src/main/resources/static/3rdPartyLicenses.json
Due: none

fix: Add MultiTool UploadPrompts zh_CN And en_US (#977)
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

multiTool.uploadPrompts
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys
