Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  entry: python .github/scripts/check_tabulator.py
  language: python

Fix missing upload button (#2393)
  src/main/resources/static/css/fileSelect.css
Due: check-html-tabs

cert info
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationResult.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/security/validate-signature.html
Due: check-duplicate-properties-keys, check-html-tabs

Show permissions as a separate tab
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
Due: none

Only download one file on sign cert
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

some basic html excaping and translation fixing
  src/main/resources/templates/security/validate-signature.html
Due: check-html-tabs

PDF Cert validation (#2394)
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/SignatureValidationResult.java
  src/main/java/stirling/software/SPDF/service/CertificateValidationService.java
  src/main/resources/certdata.txt
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/validate-signature.html
Due: check-duplicate-properties-keys, check-html-tabs

Only download one file on sign cert (#2397)
  src/main/resources/static/js/downloader.js
Due: check-html-tabs

Feature: Show permissions as a separate tab (#2396)
  src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
Due: none

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2401)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

quick fixes
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/releases.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

quick fixes (#2404)
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/releases.html
Due: check-html-tabs

Update German translation + remove unnecessary comment
  scripts/ignore_translation.toml
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update German translation + remove unnecessary comment (#2405)
  scripts/ignore_translation.toml
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

english
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

english translation fixes (#2408)
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

PDF decryption
  src/main/resources/static/js/multitool/DecryptFiles.js
  src/main/resources/static/js/multitool/PdfContainer.js
Due: check-html-tabs

Translations for errors
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/multitool/DecryptFiles.js
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

Password prompt translations
  src/main/resources/static/js/multitool/DecryptFiles.js
Due: check-html-tabs

Additional decryption translations
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/downloader.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/multi-tool.html
Due: check-duplicate-properties-keys, check-html-tabs

added custom color selection for Watermark
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/add-watermark.html
Due: check-duplicate-properties-keys, check-html-tabs

Update messages_de_DE.properties (#2410)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

using the same translation as AddStampRequest.customColor for the new watermark.customColor
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

fixed the space issue between words
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
Due: check-duplicate-properties-keys

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^src/main/resources/static/pdfjs/
